<section class="hero-section">
  <section class="content">
    <section class="profile-left">
      <section class="profile-all">
        <div class="photo-name">
          <%= image_tag "imagem-philipe-small.jpeg", class: "profile-picture" %>
          <div class="name-stack">
            <h1 class="profile-name">Philipe</h1>
            <h2 class="profile-job-description">Full-stack developer</h2>
          </div>
        </div>
        <div class="profile-info">
          <section class="profile-text">
            <div class="texts">
              <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14" fill="none" class="profile-text-icon">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M0.583575 3.48988C0.58348 3.49564 0.583471 3.50139 0.583546 3.50715V10.5C0.583546 11.4638 1.36971 12.25 2.33355 12.25H11.6669C12.6307 12.25 13.4169 11.4638 13.4169 10.5V3.50721C13.417 3.50141 13.4169 3.4956 13.4169 3.4898C13.4113 2.53063 12.6273 1.75 11.6669 1.75H2.33355C1.37309 1.75 0.589053 2.53067 0.583575 3.48988ZM1.81238 3.2398C1.90885 3.04904 2.10724 2.91667 2.33355 2.91667H11.6669C11.8932 2.91667 12.0916 3.04904 12.188 3.2398L7.00021 6.87128L1.81238 3.2398ZM12.2502 4.62038V10.5C12.2502 10.8195 11.9864 11.0833 11.6669 11.0833H2.33355C2.01405 11.0833 1.75021 10.8195 1.75021 10.5V4.62038L6.66569 8.06122C6.86655 8.20182 7.13388 8.20182 7.33473 8.06122L12.2502 4.62038Z" fill="#30F711"/>
              </svg>
              <span class="profile-inner-texts">dev.philipe@outlook.com</span>
            </div>
            <div class="texts">
              <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14" fill="none" class="profile-text-icon">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M6.99984 3.5C5.71117 3.5 4.6665 4.54467 4.6665 5.83333C4.6665 7.122 5.71117 8.16667 6.99984 8.16667C8.2885 8.16667 9.33317 7.122 9.33317 5.83333C9.33317 4.54467 8.2885 3.5 6.99984 3.5ZM5.83317 5.83333C5.83317 5.189 6.3555 4.66667 6.99984 4.66667C7.64417 4.66667 8.1665 5.189 8.1665 5.83333C8.1665 6.47767 7.64417 7 6.99984 7C6.3555 7 5.83317 6.47767 5.83317 5.83333Z" fill="#30F711"/>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M6.67595 13.9018C6.67611 13.9019 6.67626 13.902 6.99984 13.4167L6.67595 13.9018C6.87189 14.0324 7.12747 14.0327 7.32341 13.902L6.99984 13.4167C7.32341 13.902 7.32324 13.9021 7.32341 13.902L7.3254 13.9007L7.32928 13.8981L7.34265 13.8891C7.35401 13.8813 7.37021 13.8703 7.39093 13.8559C7.43236 13.8272 7.4919 13.7854 7.56696 13.7312C7.71702 13.6228 7.92946 13.4646 8.18352 13.2623C8.69073 12.8584 9.36853 12.275 10.0483 11.5574C11.384 10.1475 12.8332 8.10947 12.8332 5.83333C12.8332 4.28624 12.2186 2.80251 11.1246 1.70854C10.0307 0.614581 8.54693 0 6.99984 0C5.45274 0 3.96901 0.614581 2.87505 1.70854C1.78109 2.80251 1.1665 4.28624 1.1665 5.83333C1.1665 8.10947 2.61566 10.1475 3.95136 11.5574C4.63115 12.275 5.30895 12.8584 5.81615 13.2623C6.07021 13.4646 6.28266 13.6228 6.43272 13.7312C6.50777 13.7854 6.56731 13.8272 6.60875 13.8559C6.62946 13.8703 6.64566 13.8813 6.65702 13.8891L6.67039 13.8981L6.67428 13.9007L6.67595 13.9018ZM3.70001 2.5335C4.57517 1.65833 5.76216 1.16667 6.99984 1.16667C8.23751 1.16667 9.4245 1.65833 10.2997 2.5335C11.1748 3.40867 11.6665 4.59566 11.6665 5.83333C11.6665 7.64053 10.4907 9.39415 9.20136 10.7551C8.56865 11.4229 7.93395 11.9697 7.45678 12.3497C7.27919 12.4911 7.12407 12.6089 6.99984 12.7007C6.8756 12.6089 6.72049 12.4911 6.5429 12.3497C6.06573 11.9697 5.43103 11.4229 4.79831 10.7551C3.50902 9.39415 2.33317 7.64053 2.33317 5.83333C2.33317 4.59566 2.82484 3.40867 3.70001 2.5335Z" fill="#30F711"/>
              </svg>
              <span class="profile-inner-texts">Rio de Janeiro - Brazil</span>
            </div>
            <div class="texts">
              <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14" fill="none" class="profile-text-icon">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M5.8335 1.16666C5.36937 1.16666 4.92425 1.35103 4.59606 1.67922C4.26787 2.00741 4.0835 2.45253 4.0835 2.91666V3.49999H2.3335C1.367 3.49999 0.583496 4.28349 0.583496 5.24999V11.0833C0.583496 12.0498 1.367 12.8333 2.3335 12.8333H11.6668C12.6333 12.8333 13.4168 12.0498 13.4168 11.0833V5.24999C13.4168 4.28349 12.6333 3.49999 11.6668 3.49999H9.91683V2.91666C9.91683 2.45253 9.73246 2.00741 9.40427 1.67922C9.07608 1.35103 8.63096 1.16666 8.16683 1.16666H5.8335ZM8.75016 3.49999V2.91666C8.75016 2.76195 8.68871 2.61357 8.57931 2.50418C8.46991 2.39478 8.32154 2.33332 8.16683 2.33332H5.8335C5.67879 2.33332 5.53041 2.39478 5.42102 2.50418C5.31162 2.61357 5.25016 2.76195 5.25016 2.91666V3.49999H8.75016ZM5.25016 4.66666H8.75016V11.6667H5.25016V4.66666ZM4.0835 4.66666H2.3335C2.01133 4.66666 1.75016 4.92782 1.75016 5.24999V11.0833C1.75016 11.4055 2.01133 11.6667 2.3335 11.6667H4.0835V4.66666ZM9.91683 11.6667V4.66666H11.6668C11.989 4.66666 12.2502 4.92782 12.2502 5.24999V11.0833C12.2502 11.4055 11.989 11.6667 11.6668 11.6667H9.91683Z" fill="#30F711"/>
              </svg>
              <span class="profile-inner-texts">Full time / Freelancer</span>
            </div>
            <div class="texts">
              <i class="fa-brands fa-github profile-text-icon"></i>
              <span class="profile-inner-texts">https://github.com/PhilipeeX</span>
            </div>
          </section>
          <section class="profile-label">
            <div class="profile-labels">RUBY</div>
            <div class="profile-labels">RAILS</div>
            <div class="profile-labels">HTML</div>
            <div class="profile-labels">CSS</div>
          </section>
        </div>
      </section>
      <button class="cv-button">
        Download CV
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
          <path d="M13 3C13 2.44772 12.5523 2 12 2C11.4477 2 11 2.44772 11 3V12.5858L7.70711 9.29289C7.31658 8.90237 6.68342 8.90237 6.29289 9.29289C5.90237 9.68342 5.90237 10.3166 6.29289 10.7071L11.2929 15.7071C11.6834 16.0976 12.3166 16.0976 12.7071 15.7071L17.7071 10.7071C18.0976 10.3166 18.0976 9.68342 17.7071 9.29289C17.3166 8.90237 16.6834 8.90237 16.2929 9.29289L13 12.5858V3Z" fill="#131619"/>
          <path d="M3 14C3.55228 14 4 14.4477 4 15V19C4 19.2652 4.10536 19.5196 4.29289 19.7071C4.48043 19.8946 4.73478 20 5 20H19C19.2652 20 19.5196 19.8946 19.7071 19.7071C19.8946 19.5196 20 19.2652 20 19V15C20 14.4477 20.4477 14 21 14C21.5523 14 22 14.4477 22 15V19C22 19.7957 21.6839 20.5587 21.1213 21.1213C20.5587 21.6839 19.7957 22 19 22H5C4.20435 22 3.44129 21.6839 2.87868 21.1213C2.31607 20.5587 2 19.7957 2 19V15C2 14.4477 2.44772 14 3 14Z" fill="#131619"/>
        </svg>
      </button>
    </section>

    <section class="profile-right">
      <section class="profile-title-description">
        <div class="profile-right-title">
          <span class="profile-title-code">
            <%= "<h1>" %>
          </span>
          <div class="profile-right-title-text">
            <span>Hey</span>
            <span>I’m <span class="profile-right-name">Philipe</span>,</span>
            <span>Full-stack developer</span>
          </div>
          <span class="profile-title-code">
             <%= "</h1>" %>
          </span>
        </div>
        <div class="profile-right-paragraph">
          <span class="profile-title-code">
            <%= "<p>" %>
          </span>
          <div class="paragraph-text">
            <span class="paragraph-inner-text">I help business grow by crafting amazing web experiences. If you’re looking for a developer that likes to get stuff done,</span>
          </div>
          <span class="profile-title-code">
            <%= "</p>" %>
          </span>
          <div class="CTA">
            <span class="profile-right-talk">let’s talk</span>
            <button class="button-CTA">
              <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14" fill="none" class="button-CTA-icon">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M0.583575 3.48988C0.58348 3.49564 0.583471 3.50139 0.583546 3.50715V10.5C0.583546 11.4638 1.36971 12.25 2.33355 12.25H11.6669C12.6307 12.25 13.4169 11.4638 13.4169 10.5V3.50721C13.417 3.50141 13.4169 3.4956 13.4169 3.4898C13.4113 2.53063 12.6273 1.75 11.6669 1.75H2.33355C1.37309 1.75 0.589053 2.53067 0.583575 3.48988ZM1.81238 3.2398C1.90885 3.04904 2.10724 2.91667 2.33355 2.91667H11.6669C11.8932 2.91667 12.0916 3.04904 12.188 3.2398L7.00021 6.87128L1.81238 3.2398ZM12.2502 4.62038V10.5C12.2502 10.8195 11.9864 11.0833 11.6669 11.0833H2.33355C2.01405 11.0833 1.75021 10.8195 1.75021 10.5V4.62038L6.66569 8.06122C6.86655 8.20182 7.13388 8.20182 7.33473 8.06122L12.2502 4.62038Z" fill="#30F711"/>
              </svg>
            </button>
          </div>
        </div>
      </section>
      <section class="highlights">
        <div class="language">
          <span class="highlight-numbers">3</span><div class="highlight-text"><span class="highlight-texts">Programming</span><span class="highlight-texts">Language</span> </div>
        </div>
        <div class="tools">
          <span class="highlight-numbers">6</span><div class="highlight-text"><span class="highlight-texts">Development</span><span class="highlight-texts">Tools</span> </div>
        </div>
        <div class="experience">
          <span class="highlight-numbers">2</span><div class="highlight-text"><span class="highlight-texts">Years of</span><span class="highlight-texts">Experience</span> </div>
        </div>
      </section>
    </section>
  </section>
</section>
<section class="about-me">
  <section class="about-me-container">
    <section class="about-me-content">
      <div class="about-me-title">
        <span>About me</span>
      </div>
      <div class="about-me-text">
        <span class="profile-title-code">
          <%= "<p>" %>
        </span>
        <span class="about-me-description">
          Hello!
          My name is Sinan and I specialize in web developement that utilizes HTML, CSS, JS, and REACT etc.
          I am a highly motivated individual and eternal optimist dedicated to writing clear, concise, robust code that works. Striving to never stop learning and improving.
          When I'm not coding, I am writing bolgs, reading, or picking up some new hands-on art project like photography.
          I like to have my perspective and belief systems challenged so that I see the world through new eyes.
        </span>
        <span class="profile-title-code">
          <%= "</p>" %>
        </span>
      </div>
    </section>
    <section class="about-me-image">

    </section>
  </section>
</section>
