<% if flash[:success] %>
  <div class="flash-message flash-success">
    <%= flash[:success] %>
  </div>
<% elsif flash[:error] %>
  <div class="flash-message flash-error">
    <%= flash[:error] %>
  </div>
<% end %>

<nav class="navigation-bar">
  <div class="navigation-bar-button">
    <svg xmlns="http://www.w3.org/2000/svg" height="16" width="14" viewBox="0 0 448 512">
      <path d="M384 96V224H256V96H384zm0 192V416H256V288H384zM192 224H64V96H192V224zM64 288H192V416H64V288zM64 32C28.7 32 0 60.7 0 96V416c0 35.3 28.7 64 64 64H384c35.3 0 64-28.7 64-64V96c0-35.3-28.7-64-64-64H64z"/>
    </svg>
  </div>
  <div class="navigation-bar-button">
    <svg xmlns="http://www.w3.org/2000/svg" height="16" width="14" viewBox="0 0 448 512">
      <path d="M304 128a80 80 0 1 0 -160 0 80 80 0 1 0 160 0zM96 128a128 128 0 1 1 256 0A128 128 0 1 1 96 128zM49.3 464H398.7c-8.9-63.3-63.3-112-129-112H178.3c-65.7 0-120.1 48.7-129 112zM0 482.3C0 383.8 79.8 304 178.3 304h91.4C368.2 304 448 383.8 448 482.3c0 16.4-13.3 29.7-29.7 29.7H29.7C13.3 512 0 498.7 0 482.3z"/>
    </svg>
  </div>
  <div class="navigation-bar-button">
    <svg xmlns="http://www.w3.org/2000/svg" height="16" width="20" viewBox="0 0 640 512">
      <path d="M392.8 1.2c-17-4.9-34.7 5-39.6 22l-128 448c-4.9 17 5 34.7 22 39.6s34.7-5 39.6-22l128-448c4.9-17-5-34.7-22-39.6zm80.6 120.1c-12.5 12.5-12.5 32.8 0 45.3L562.7 256l-89.4 89.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l112-112c12.5-12.5 12.5-32.8 0-45.3l-112-112c-12.5-12.5-32.8-12.5-45.3 0zm-306.7 0c-12.5-12.5-32.8-12.5-45.3 0l-112 112c-12.5 12.5-12.5 32.8 0 45.3l112 112c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L77.3 256l89.4-89.4c12.5-12.5 12.5-32.8 0-45.3z"/>
    </svg>
  </div>
  <div class="navigation-bar-button">
    <svg xmlns="http://www.w3.org/2000/svg" height="16" width="18" viewBox="0 0 576 512">
      <path d="M64 0C28.7 0 0 28.7 0 64V352c0 35.3 28.7 64 64 64H240l-10.7 32H160c-17.7 0-32 14.3-32 32s14.3 32 32 32H416c17.7 0 32-14.3 32-32s-14.3-32-32-32H346.7L336 416H512c35.3 0 64-28.7 64-64V64c0-35.3-28.7-64-64-64H64zM512 64V352H64V64H512z"/>
    </svg>
  </div>
  <div class="navigation-bar-button">
    <svg xmlns="http://www.w3.org/2000/svg" height="16" width="16" viewBox="0 0 512 512">
      <path d="M64 112c-8.8 0-16 7.2-16 16v22.1L220.5 291.7c20.7 17 50.4 17 71.1 0L464 150.1V128c0-8.8-7.2-16-16-16H64zM48 212.2V384c0 8.8 7.2 16 16 16H448c8.8 0 16-7.2 16-16V212.2L322 328.8c-38.4 31.5-93.7 31.5-132 0L48 212.2zM0 128C0 92.7 28.7 64 64 64H448c35.3 0 64 28.7 64 64V384c0 35.3-28.7 64-64 64H64c-35.3 0-64-28.7-64-64V128z"/>
    </svg>
  </div>
</nav>
<section class="hero-section">
  <section class="hero-bg-title">
    <h1 class="hero-section-title"><%= t 'views.welcome.index.title' %></h1>
  </section>
  <section class="content">
    <section class="profile-left">
      <section class="profile-all">
        <div class="photo-name">
          <picture>
            <source media="(max-width: 400px)" srcset="<%= image_path('index/imagem-philipe-small.jpeg') %>" type="image/jpg">
            <source media="(max-width: 768px)" srcset="<%= image_path('index/imagem-philipe-medium.jpeg') %>" type="image/jpg">
            <source media="(min-width: 768px)" srcset="<%= image_path('raw-images/imagem-philipe.jpeg') %>" type="image/jpg">
            <img src="index/imagem-philipe-medium.jpeg" alt="foto philipe" class="profile-picture">
          </picture>
          <div class="name-stack">
            <h1 class="profile-name">Philipe</h1>
            <h2 class="profile-job-description"><%= t 'views.welcome.index.job-description' %></h2>
          </div>
        </div>
        <div class="profile-info">
          <section class="profile-text">
            <div class="texts">
              <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14" fill="none" class="profile-text-icon">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M0.583575 3.48988C0.58348 3.49564 0.583471 3.50139 0.583546 3.50715V10.5C0.583546 11.4638 1.36971 12.25 2.33355 12.25H11.6669C12.6307 12.25 13.4169 11.4638 13.4169 10.5V3.50721C13.417 3.50141 13.4169 3.4956 13.4169 3.4898C13.4113 2.53063 12.6273 1.75 11.6669 1.75H2.33355C1.37309 1.75 0.589053 2.53067 0.583575 3.48988ZM1.81238 3.2398C1.90885 3.04904 2.10724 2.91667 2.33355 2.91667H11.6669C11.8932 2.91667 12.0916 3.04904 12.188 3.2398L7.00021 6.87128L1.81238 3.2398ZM12.2502 4.62038V10.5C12.2502 10.8195 11.9864 11.0833 11.6669 11.0833H2.33355C2.01405 11.0833 1.75021 10.8195 1.75021 10.5V4.62038L6.66569 8.06122C6.86655 8.20182 7.13388 8.20182 7.33473 8.06122L12.2502 4.62038Z" fill="#30F711"/>
              </svg>
              <span class="profile-inner-texts">dev.philipe@outlook.com</span>
            </div>
            <div class="texts">
              <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14" fill="none" class="profile-text-icon">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M6.99984 3.5C5.71117 3.5 4.6665 4.54467 4.6665 5.83333C4.6665 7.122 5.71117 8.16667 6.99984 8.16667C8.2885 8.16667 9.33317 7.122 9.33317 5.83333C9.33317 4.54467 8.2885 3.5 6.99984 3.5ZM5.83317 5.83333C5.83317 5.189 6.3555 4.66667 6.99984 4.66667C7.64417 4.66667 8.1665 5.189 8.1665 5.83333C8.1665 6.47767 7.64417 7 6.99984 7C6.3555 7 5.83317 6.47767 5.83317 5.83333Z" fill="#30F711"/>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M6.67595 13.9018C6.67611 13.9019 6.67626 13.902 6.99984 13.4167L6.67595 13.9018C6.87189 14.0324 7.12747 14.0327 7.32341 13.902L6.99984 13.4167C7.32341 13.902 7.32324 13.9021 7.32341 13.902L7.3254 13.9007L7.32928 13.8981L7.34265 13.8891C7.35401 13.8813 7.37021 13.8703 7.39093 13.8559C7.43236 13.8272 7.4919 13.7854 7.56696 13.7312C7.71702 13.6228 7.92946 13.4646 8.18352 13.2623C8.69073 12.8584 9.36853 12.275 10.0483 11.5574C11.384 10.1475 12.8332 8.10947 12.8332 5.83333C12.8332 4.28624 12.2186 2.80251 11.1246 1.70854C10.0307 0.614581 8.54693 0 6.99984 0C5.45274 0 3.96901 0.614581 2.87505 1.70854C1.78109 2.80251 1.1665 4.28624 1.1665 5.83333C1.1665 8.10947 2.61566 10.1475 3.95136 11.5574C4.63115 12.275 5.30895 12.8584 5.81615 13.2623C6.07021 13.4646 6.28266 13.6228 6.43272 13.7312C6.50777 13.7854 6.56731 13.8272 6.60875 13.8559C6.62946 13.8703 6.64566 13.8813 6.65702 13.8891L6.67039 13.8981L6.67428 13.9007L6.67595 13.9018ZM3.70001 2.5335C4.57517 1.65833 5.76216 1.16667 6.99984 1.16667C8.23751 1.16667 9.4245 1.65833 10.2997 2.5335C11.1748 3.40867 11.6665 4.59566 11.6665 5.83333C11.6665 7.64053 10.4907 9.39415 9.20136 10.7551C8.56865 11.4229 7.93395 11.9697 7.45678 12.3497C7.27919 12.4911 7.12407 12.6089 6.99984 12.7007C6.8756 12.6089 6.72049 12.4911 6.5429 12.3497C6.06573 11.9697 5.43103 11.4229 4.79831 10.7551C3.50902 9.39415 2.33317 7.64053 2.33317 5.83333C2.33317 4.59566 2.82484 3.40867 3.70001 2.5335Z" fill="#30F711"/>
              </svg>
              <span class="profile-inner-texts">Rio de Janeiro - <%= t 'views.welcome.index.country' %></span>
            </div>
            <div class="texts">
              <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14" fill="none" class="profile-text-icon">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M5.8335 1.16666C5.36937 1.16666 4.92425 1.35103 4.59606 1.67922C4.26787 2.00741 4.0835 2.45253 4.0835 2.91666V3.49999H2.3335C1.367 3.49999 0.583496 4.28349 0.583496 5.24999V11.0833C0.583496 12.0498 1.367 12.8333 2.3335 12.8333H11.6668C12.6333 12.8333 13.4168 12.0498 13.4168 11.0833V5.24999C13.4168 4.28349 12.6333 3.49999 11.6668 3.49999H9.91683V2.91666C9.91683 2.45253 9.73246 2.00741 9.40427 1.67922C9.07608 1.35103 8.63096 1.16666 8.16683 1.16666H5.8335ZM8.75016 3.49999V2.91666C8.75016 2.76195 8.68871 2.61357 8.57931 2.50418C8.46991 2.39478 8.32154 2.33332 8.16683 2.33332H5.8335C5.67879 2.33332 5.53041 2.39478 5.42102 2.50418C5.31162 2.61357 5.25016 2.76195 5.25016 2.91666V3.49999H8.75016ZM5.25016 4.66666H8.75016V11.6667H5.25016V4.66666ZM4.0835 4.66666H2.3335C2.01133 4.66666 1.75016 4.92782 1.75016 5.24999V11.0833C1.75016 11.4055 2.01133 11.6667 2.3335 11.6667H4.0835V4.66666ZM9.91683 11.6667V4.66666H11.6668C11.989 4.66666 12.2502 4.92782 12.2502 5.24999V11.0833C12.2502 11.4055 11.989 11.6667 11.6668 11.6667H9.91683Z" fill="#30F711"/>
              </svg>
              <span class="profile-inner-texts">Full time / Freelancer</span>
            </div>
            <div class="texts">
              <i class="fa-brands fa-github profile-text-icon"></i>
              <span class="profile-inner-texts">https://github.com/PhilipeeX</span>
            </div>
          </section>
          <section class="profile-label">
            <div class="profile-labels">RUBY</div>
            <div class="profile-labels">RAILS</div>
            <div class="profile-labels">JS</div>
            <div class="profile-labels">PSQL</div>
          </section>
        </div>
      </section>
      <a href="public/Philipe-curriculo.pdf" download="Philipe_curriculo.pdf" type="application/pdf">
        <button class="cv-button">
          <%= t 'views.welcome.index.curriculum' %>
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
            <path d="M13 3C13 2.44772 12.5523 2 12 2C11.4477 2 11 2.44772 11 3V12.5858L7.70711 9.29289C7.31658 8.90237 6.68342 8.90237 6.29289 9.29289C5.90237 9.68342 5.90237 10.3166 6.29289 10.7071L11.2929 15.7071C11.6834 16.0976 12.3166 16.0976 12.7071 15.7071L17.7071 10.7071C18.0976 10.3166 18.0976 9.68342 17.7071 9.29289C17.3166 8.90237 16.6834 8.90237 16.2929 9.29289L13 12.5858V3Z" fill="#131619"/>
            <path d="M3 14C3.55228 14 4 14.4477 4 15V19C4 19.2652 4.10536 19.5196 4.29289 19.7071C4.48043 19.8946 4.73478 20 5 20H19C19.2652 20 19.5196 19.8946 19.7071 19.7071C19.8946 19.5196 20 19.2652 20 19V15C20 14.4477 20.4477 14 21 14C21.5523 14 22 14.4477 22 15V19C22 19.7957 21.6839 20.5587 21.1213 21.1213C20.5587 21.6839 19.7957 22 19 22H5C4.20435 22 3.44129 21.6839 2.87868 21.1213C2.31607 20.5587 2 19.7957 2 19V15C2 14.4477 2.44772 14 3 14Z" fill="#131619"/>
          </svg>
        </button>
      </a>
    </section>

    <section class="profile-right">
      <section class="profile-title-description">
        <div class="profile-right-title">
          <span class="profile-title-code">
            <%= "<h1>" %>
          </span>
          <div class="profile-right-title-text">
            <span><%= t 'views.welcome.index.profile-description.hey' %></span>
            <span><%= t 'views.welcome.index.profile-description.i-am' %><span class="profile-right-name">Philipe</span>,</span>
            <span><%= t 'views.welcome.index.profile-description.job' %></span>
          </div>
          <span class="profile-title-code">
             <%= "</h1>" %>
          </span>
        </div>
        <div class="profile-right-paragraph">
          <span class="profile-title-code">
            <%= "<p>" %>
          </span>
          <div class="paragraph-text">
            <span class="paragraph-inner-text"><%= t 'views.welcome.index.profile-description.paragraph' %></span>
          </div>
          <span class="profile-title-code">
            <%= "</p>" %>
          </span>
          <div class="CTA">
            <span class="profile-right-talk"><%= t 'views.welcome.index.lets-talk' %></span>
            <button class="button-CTA">
              <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14" fill="none" class="button-CTA-icon">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M0.583575 3.48988C0.58348 3.49564 0.583471 3.50139 0.583546 3.50715V10.5C0.583546 11.4638 1.36971 12.25 2.33355 12.25H11.6669C12.6307 12.25 13.4169 11.4638 13.4169 10.5V3.50721C13.417 3.50141 13.4169 3.4956 13.4169 3.4898C13.4113 2.53063 12.6273 1.75 11.6669 1.75H2.33355C1.37309 1.75 0.589053 2.53067 0.583575 3.48988ZM1.81238 3.2398C1.90885 3.04904 2.10724 2.91667 2.33355 2.91667H11.6669C11.8932 2.91667 12.0916 3.04904 12.188 3.2398L7.00021 6.87128L1.81238 3.2398ZM12.2502 4.62038V10.5C12.2502 10.8195 11.9864 11.0833 11.6669 11.0833H2.33355C2.01405 11.0833 1.75021 10.8195 1.75021 10.5V4.62038L6.66569 8.06122C6.86655 8.20182 7.13388 8.20182 7.33473 8.06122L12.2502 4.62038Z" fill="#30F711"/>
              </svg>
            </button>
          </div>
        </div>
      </section>
      <section class="highlights">
        <div class="language">
          <span class="highlight-numbers">3</span><div class="highlight-text"><span class="highlight-texts"><%= t 'views.welcome.index.highlights.languages-1' %></span><span class="highlight-texts"><%= t 'views.welcome.index.highlights.languages-2' %></span> </div>
        </div>
        <div class="tools">
          <span class="highlight-numbers">6</span><div class="highlight-text"><span class="highlight-texts"><%= t 'views.welcome.index.highlights.tools-1' %></span><span class="highlight-texts"><%= t 'views.welcome.index.highlights.tools-2' %></span> </div>
        </div>
        <div class="experience">
          <span class="highlight-numbers">2</span><div class="highlight-text"><span class="highlight-texts"><%= t 'views.welcome.index.highlights.experience-1' %></span><span class="highlight-texts"><%= t 'views.welcome.index.highlights.experience-2' %></span> </div>
        </div>
      </section>
    </section>
  </section>
</section>

<section class="about-me">
  <section class="about-me-container">
    <section class="about-me-content">
      <div class="about-me-title">
        <span><%= t 'views.welcome.index.about-me' %></span>
      </div>
      <div class="about-me-text">
        <span class="profile-title-code">
          <%= "<p>" %>
        </span>
        <div class="about-me-description">
          <span class="about-me-description-title"><%= t 'views.welcome.index.about-me-description.hello' %></span>
          <p><%= t 'views.welcome.index.about-me-description.paragraph1' %></p>
          <p><%= t 'views.welcome.index.about-me-description.paragraph2' %></p>
          <p><%= t 'views.welcome.index.about-me-description.paragraph3' %></p>
          <p><%= t 'views.welcome.index.about-me-description.paragraph4' %></p>
          <p><%= t 'views.welcome.index.about-me-description.paragraph5' %></p>
        </div>
        <span class="profile-title-code">
          <%= "</p>" %>
        </span>
      </div>
    </section>
    <section class="about-me-image">
      <picture>
        <source media="(max-width: 400px)" srcset="<%= image_path('index/img-ia-small.jpg') %>" type="image/jpg">
        <source media="(max-width: 768px)" srcset="<%= image_path('index/img-ia-medium.jpg') %>" type="image/jpg">
        <source media="(min-width: 768px)" srcset="<%= image_path('index/img-ia-large.jpg') %>" type="image/jpg">
        <img src="index/img-ia-large.jpg" alt="computadores com telas de codigo" class="about-me-image">
      </picture>
    </section>
  </section>
</section>

<section class="skills">
  <div class="skills-container">
    <div class="skills-title-description">
      <div class="skills-title">
        <h3><%= t 'views.welcome.index.skills' %></h3>
        <svg xmlns="http://www.w3.org/2000/svg" width="160" height="12" viewBox="0 0 160 12" fill="none">
          <path d="M0.666667 6C0.666667 8.94552 3.05448 11.3333 6 11.3333C8.94552 11.3333 11.3333 8.94552 11.3333 6C11.3333 3.05448 8.94552 0.666667 6 0.666667C3.05448 0.666667 0.666667 3.05448 0.666667 6ZM148.667 6C148.667 8.94552 151.054 11.3333 154 11.3333C156.946 11.3333 159.333 8.94552 159.333 6C159.333 3.05448 156.946 0.666667 154 0.666667C151.054 0.666667 148.667 3.05448 148.667 6ZM6 7H154V5H6V7Z" fill="#30F711"/>
        </svg>
      </div>
      <p class="skills-description">
        <%= t 'views.welcome.index.skills-desc' %>
      </p>
    </div>
    <div class="skills-cards-icons">
      <section class="skills-cards">
        <div class="skill-card">
          <section class="skill-card-icons">
            <i class="fa-solid fa-desktop"></i>
          </section>
          <div class="skill-card-text">
            <p class="skill-card-title">Fullstack</p>
            <p class="skill-card-description">HTML·CSS·JS·REACT</p>
          </div>
        </div>
        <div class="skill-card">
          <section class="skill-card-icons">
            <i class="fa-solid fa-laptop-code"></i>
          </section>
          <div class="skill-card-text">
            <p class="skill-card-title">Back-end</p>
            <p class="skill-card-description">Ruby·Rails·Postgres·RSpec</p>
          </div>
        </div>
      </section>
      <section class="skills-icons">
        <div class="skills-icons-line">
          <div class="skill-icon">
            <div class="skill-icons skill-icon-ruby">
              <%= render inline: Rails.root.join('app/assets/images/index/icons/ruby-svgrepo-com.svg').read %>
            </div>
            <p class="skill-text skill-text-ruby">RUBY</p>
          </div>
          <div class="skill-icon">
            <div class="skill-icons skill-icon-rails">
              <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="64px" height="64px" viewBox="0 0 256 256" enable-background="new 0 0 256 256" xml:space="preserve" class="rails-icon-svg">
                <g><g><g><path fill="#000000" d="M157.7,12.5c0,0.3,0.6,3.1,1.2,6.2l1.2,5.7l8.9-0.1c4.9-0.1,8.9-0.1,8.9-0.2c0,0-1.6-10.7-1.7-11.1c0,0-2.4-0.1-5.4-0.3c-3-0.1-7.2-0.3-9.2-0.5C158.4,12,157.7,12.1,157.7,12.5z"/><path fill="#000000" d="M114,22.6c-3.7,1.9-6.6,3.7-6.6,3.9c0,0.2,2.2,3.1,4.9,6.4l4.9,6l7-4c3.9-2.3,7.1-4.1,7.2-4.2c0.2-0.1-10-11.4-10.4-11.5C120.8,19.2,117.6,20.7,114,22.6z"/><path fill="#000000" d="M167.1,26c-32.3,3.5-59.5,20.6-80.5,50.7c-9,12.9-24,41.9-32.5,62.9c-11.7,28.9-19.3,65.5-19.3,92.5c0,3.7,0.1,7.9,0.3,9.3l0.2,2.5H93h57.7l-0.9-2c-0.5-1.1-2-5-3.3-8.6c-8-22.2-13.3-45.4-15.4-67.6c-0.6-6.4-0.6-23.3,0-29c1-9.8,3.1-19.3,5.8-26.7c3.2-8.7,9.3-19.6,14.9-26.5C164.4,68,182.2,56.7,199.8,53c5.5-1.1,13.8-1.1,19.2,0c7.1,1.5,13.5,4.5,19,9c1.6,1.2,3,2.1,3.1,1.9c0.2-0.2,1.4-1.9,2.6-3.8l2.3-3.5l-1.8-1.6c-16.5-14.7-35.5-24.4-54.4-28c-4.3-0.8-6.2-1-13.1-1.1C172.2,25.9,167.9,25.9,167.1,26z"/><path fill="#000000" d="M217.7,27.2c-0.1,0.7-0.2,2.5-0.2,3.8v2.4l5.8,3.1c3.2,1.7,5.9,3.1,6.1,3.2c0.2,0.1,2.5-3.3,2.5-3.7c0-0.2-12.4-9.3-13.5-10C218.1,25.9,217.8,26.3,217.7,27.2z"/><path fill="#000000" d="M66.6,62.9c-3.2,3.6-5.9,6.6-5.9,6.8c0,0.1,3.4,2.5,7.5,5.3c5.9,3.9,7.8,5,8.1,4.7c1.5-1.2,11.3-13.3,11-13.5c-0.4-0.4-14.5-9.6-14.7-9.6C72.5,56.4,69.9,59.3,66.6,62.9z"/><path fill="#000000" d="M215.3,62.2l0.1,3.2l4.1,0.4c2.3,0.2,4.8,0.5,5.6,0.6l1.6,0.2l-0.1-2.7l-0.1-2.7l-4.4-1c-2.4-0.6-5-1.1-5.6-1.3l-1.2-0.2L215.3,62.2z"/><path fill="#000000" d="M184.6,62.8c-2.5,0.7-5.1,1.3-5.6,1.5l-1,0.3l2.1,3.9c1.1,2.2,2.4,4.5,2.8,5.2l0.7,1.2l2.8-2.2c1.6-1.2,3.4-2.7,4.1-3.3l1.3-1l-0.8-3.4c-0.4-1.9-1-3.4-1.3-3.4C189.4,61.6,187.2,62.2,184.6,62.8z"/><path fill="#000000" d="M157.9,79.9c-1,1-3,2.8-4.4,4l-2.5,2.3l6.1,6.8c3.4,3.7,6.2,6.8,6.4,6.9c0.1,0,1.3-2,2.7-4.4l2.5-4.5l-4.2-6.4c-2.3-3.5-4.4-6.4-4.5-6.4C159.8,78.2,158.9,79,157.9,79.9z"/><path fill="#000000" d="M33.6,114.6c-0.2,0.6-1.7,4.7-3.2,9l-2.9,8l8,2.5c11.1,3.6,12.2,3.9,12.4,3.7c0.4-0.4,6-16.4,5.8-16.6c-0.2-0.2-19.1-7.7-19.4-7.7C34.1,113.6,33.9,114,33.6,114.6z"/><path fill="#000000" d="M140,119.3c-1.4,3-2.7,5.5-2.7,5.7c0,0.3,13.7,12.3,14.3,12.5c0.1,0.1,1-3.1,2-6.9l1.7-7l-1.5-1.2c-1.8-1.5-10.9-8.3-11-8.3C142.8,114,141.5,116.4,140,119.3z"/><path fill="#000000" d="M136.5,158c-0.1,2.5-0.3,5.9-0.3,7.6l-0.1,3.1l6.5,2.8c3.5,1.6,7.6,3.3,9,3.9l2.5,1.1l-0.3-3.8c-0.1-2.1-0.3-5.3-0.4-7.2l-0.3-3.4l-7.9-4.2c-4.4-2.3-8-4.2-8.2-4.3C136.8,153.5,136.6,155.5,136.5,158z"/><path fill="#000000" d="M12.3,186.3c0,0.3-0.6,5.1-1.3,10.7c-0.7,5.6-1.1,10.3-1,10.4c0.3,0.3,20.6,2.7,20.9,2.5c0.1-0.1,3.9-21.2,3.9-22c0-0.2-3.8-0.7-8.9-1c-4.9-0.4-10-0.7-11.3-0.8C12.8,185.9,12.3,185.9,12.3,186.3z"/><path fill="#000000" d="M142.2,207.5c0,0.6,4,15,4.1,15.2c0.2,0.2,22.5,1.3,22.7,1.2c0.1-0.1-1.7-3.9-3.9-8.4l-4.1-8.3l-9.4-0.1C143.5,207,142.2,207,142.2,207.5z"/></g></g></g>
              </svg>
            </div>
            <p class="skill-text skill-text-rails">RAILS</p>
          </div>
        </div>
        <div class="skills-icons-line">
          <div class="skill-icon">
            <div class="skill-icons skill-icon-js">
              <svg xmlns="http://www.w3.org/2000/svg" width="64" height="64" viewBox="0 0 64 64" fill="none">
                <path d="M31.9883 6C31.2583 6 30.5284 6.17906 29.8984 6.53906L10.0781 17.9805C8.79813 18.7205 8 20.1216 8 21.6016V42.3594C8 43.8594 8.79813 45.2405 10.0781 45.9805L15.2812 48.9805C17.8013 50.2205 18.6998 50.2188 19.8398 50.2188C23.5798 50.2188 25.7188 47.9591 25.7188 44.0391V22.6211C25.7188 22.3011 25.4606 22.0391 25.1406 22.0391H22.6406C22.3006 22.0391 22.0586 22.3011 22.0586 22.6211V44.0195C22.0586 45.7795 20.2408 47.4991 17.3008 46.0391L11.8594 42.8984C11.6594 42.7984 11.5391 42.5794 11.5391 42.3594V21.6211C11.5391 21.3811 11.6594 21.1786 11.8594 21.0586L31.6797 9.62109C31.8597 9.50109 32.1008 9.50109 32.3008 9.62109L52.1211 21.0586C52.3211 21.1786 52.4414 21.3816 52.4414 21.6016V42.3594C52.4414 42.5794 52.3206 42.7984 52.1406 42.8984L32.3008 54.3594C32.1208 54.4594 31.8597 54.4594 31.6797 54.3594L26.5781 51.3398C26.4381 51.2398 26.2416 51.2208 26.1016 51.3008C24.6816 52.1008 24.4216 52.2002 23.1016 52.6602C22.7816 52.7602 22.2812 52.9595 23.2812 53.5195L29.8984 57.4414C30.5384 57.8014 31.2605 58 31.9805 58C32.7205 58 33.4381 57.8014 34.0781 57.4414L53.9219 45.9805C55.2019 45.2405 56 43.8594 56 42.3594V21.6211C56 20.1211 55.2019 18.74 53.9219 18L34.0781 6.53906C33.4481 6.17906 32.7183 6 31.9883 6ZM37.3203 22.0117C31.6603 22.0117 28.2812 24.4102 28.2812 28.4102C28.2812 32.7502 31.6381 33.9483 37.0781 34.4883C43.5781 35.1283 44.0781 36.0911 44.0781 37.3711C44.0781 39.5711 42.3011 40.5117 38.1211 40.5117C32.8611 40.5117 31.7003 39.1898 31.3203 36.5898C31.2803 36.3098 31.0417 36.1094 30.7617 36.1094H28.1797C27.8597 36.1094 27.6211 36.3719 27.6211 36.6719C27.6211 40.0119 29.4411 43.9883 38.1211 43.9883C44.4011 43.9883 48 41.5114 48 37.1914C48 32.9114 45.0995 31.7692 39.0195 30.9492C32.8395 30.1492 32.2188 29.7291 32.2188 28.2891C32.2188 27.0891 32.7603 25.5117 37.3203 25.5117C41.3803 25.5117 42.8995 26.3889 43.5195 29.1289C43.5795 29.3889 43.7981 29.5898 44.0781 29.5898H46.6602C46.8202 29.5898 46.9581 29.5106 47.0781 29.3906C47.1781 29.2906 47.2388 29.1292 47.2188 28.9492C46.8187 24.2292 43.6803 22.0117 37.3203 22.0117Z" fill="white"/>
              </svg>
            </div>
            <p class="skill-text skill-text-js">JS</p>
          </div>
          <div class="skill-icon">
            <div class="skill-icons skill-icon-postgres">
              <svg fill="#ffffff" width="64px" height="64px" viewBox="0 0 24 24" role="img" xmlns="http://www.w3.org/2000/svg">
                <path d="M17.128 0a10.134 10.134 0 0 0-2.755.403l-.063.02A10.922 10.922 0 0 0 12.6.258C11.422.238 10.41.524 9.594 1 8.79.721 7.122.24 5.364.336 4.14.403 2.804.775 1.814 1.82.827 2.865.305 4.482.415 6.682c.03.607.203 1.597.49 2.879s.69 2.783 1.193 4.152c.503 1.37 1.054 2.6 1.915 3.436.43.419 1.022.771 1.72.742.49-.02.933-.235 1.315-.552.186.245.385.352.566.451.228.125.45.21.68.266.413.103 1.12.241 1.948.1.282-.047.579-.139.875-.27.011.33.024.653.037.98.041 1.036.067 1.993.378 2.832.05.137.187.843.727 1.466.54.624 1.598 1.013 2.803.755.85-.182 1.931-.51 2.649-1.532.71-1.01 1.03-2.459 1.093-4.809.016-.127.035-.235.055-.336l.169.015h.02c.907.041 1.891-.088 2.713-.47.728-.337 1.279-.678 1.68-1.283.1-.15.21-.331.24-.643s-.149-.8-.446-1.025c-.595-.452-.969-.28-1.37-.197a6.27 6.27 0 0 1-1.202.146c1.156-1.947 1.985-4.015 2.458-5.845.28-1.08.437-2.076.45-2.947.013-.871-.058-1.642-.58-2.309C21.36.6 19.067.024 17.293.004c-.055-.001-.11-.002-.165-.001zm-.047.64c1.678-.016 3.822.455 5.361 2.422.346.442.449 1.088.437 1.884-.013.795-.16 1.747-.429 2.79-.522 2.02-1.508 4.375-2.897 6.488a.756.756 0 0 0 .158.086c.29.12.951.223 2.27-.048.332-.07.575-.117.827.075a.52.52 0 0 1 .183.425.704.704 0 0 1-.13.336c-.255.383-.758.746-1.403 1.045-.571.266-1.39.405-2.116.413-.364.004-.7-.024-.985-.113l-.018-.007c-.11 1.06-.363 3.153-.528 4.108-.132.77-.363 1.382-.804 1.84-.44.458-1.063.734-1.901.914-1.038.223-1.795-.017-2.283-.428-.487-.41-.71-.954-.844-1.287-.092-.23-.14-.528-.186-.926-.046-.398-.08-.885-.103-1.434a51.426 51.426 0 0 1-.03-2.523 3.061 3.061 0 0 1-1.552.76c-.689.117-1.304.002-1.671-.09a2.276 2.276 0 0 1-.52-.201c-.17-.091-.332-.194-.44-.397a.56.56 0 0 1-.057-.381.61.61 0 0 1 .218-.331c.198-.161.46-.251.855-.333.719-.148.97-.249 1.123-.37.13-.104.277-.314.537-.622a1.16 1.16 0 0 1-.003-.041 2.96 2.96 0 0 1-1.33-.358c-.15.158-.916.968-1.85 2.092-.393.47-.827.74-1.285.759-.458.02-.872-.211-1.224-.552-.703-.683-1.264-1.858-1.753-3.186-.488-1.328-.885-2.807-1.167-4.067-.283-1.26-.45-2.276-.474-2.766-.105-2.082.382-3.485 1.217-4.37.836-.885 1.982-1.22 3.099-1.284 2.005-.115 3.909.584 4.294.734.742-.504 1.698-.818 2.892-.798a7.39 7.39 0 0 1 1.681.218l.02-.009a6.854 6.854 0 0 1 .739-.214A9.626 9.626 0 0 1 17.08.642zm.152.67h-.146a8.74 8.74 0 0 0-1.704.192c1.246.552 2.187 1.402 2.85 2.25a8.44 8.44 0 0 1 1.132 1.92c.11.264.184.487.226.66.021.087.035.16.04.236.002.038.004.077-.012.144 0 .003-.005.01-.006.013.03.876-.187 1.47-.213 2.306-.02.606.135 1.318.173 2.095.036.73-.052 1.532-.526 2.319.04.048.076.096.114.144 1.254-1.975 2.158-4.16 2.64-6.023.258-1.003.395-1.912.407-2.632.01-.72-.124-1.242-.295-1.46-1.342-1.716-3.158-2.153-4.68-2.165zm-4.79.256c-1.182.003-2.03.36-2.673.895-.663.553-1.108 1.31-1.4 2.085-.347.92-.466 1.81-.513 2.414l.013-.008c.357-.2.826-.4 1.328-.516.502-.115 1.043-.151 1.533.039s.895.637 1.042 1.315c.704 3.257-.219 4.468-.559 5.382a9.61 9.61 0 0 0-.331 1.013c.043-.01.086-.022.129-.026.24-.02.428.06.54.108.342.142.577.44.704.78.033.089.057.185.071.284a.336.336 0 0 1 .02.127 55.14 55.14 0 0 0 .013 3.738c.023.538.057 1.012.1 1.386.043.373.104.657.143.753.128.32.315.739.653 1.024.338.284.823.474 1.709.284.768-.165 1.242-.394 1.559-.723.316-.329.505-.787.626-1.488.181-1.05.545-4.095.589-4.668-.02-.432.044-.764.182-1.017.142-.26.362-.419.552-.505.095-.043.184-.072.257-.093a5.956 5.956 0 0 0-.243-.325 4.456 4.456 0 0 1-.666-1.099 8.296 8.296 0 0 0-.257-.483c-.133-.24-.301-.54-.477-.877-.352-.675-.735-1.493-.934-2.29-.198-.796-.227-1.62.281-2.201.45-.516 1.24-.73 2.426-.61-.035-.105-.056-.192-.115-.332a7.817 7.817 0 0 0-1.041-1.764c-1.005-1.285-2.632-2.559-5.146-2.6h-.115zm-6.642.052c-.127 0-.254.004-.38.011-1.01.058-1.965.351-2.648 1.075-.684.724-1.134 1.911-1.036 3.876.019.372.181 1.414.459 2.652.277 1.238.67 2.695 1.142 3.982.473 1.287 1.046 2.407 1.59 2.937.274.265.512.372.728.363.217-.01.478-.135.797-.518a43.244 43.244 0 0 1 1.81-2.048 3.497 3.497 0 0 1-1.167-3.15c.103-.739.117-1.43.105-1.976-.012-.532-.05-.886-.05-1.107a.336.336 0 0 1 0-.019v-.005l-.001-.006v-.001a9.893 9.893 0 0 1 .592-3.376c.28-.744.697-1.5 1.322-2.112-.614-.202-1.704-.51-2.884-.568a7.603 7.603 0 0 0-.38-.01zM18.199 6.9c-.679.009-1.06.184-1.26.413-.283.325-.31.895-.134 1.597.175.703.537 1.489.877 2.142.17.327.335.621.468.86.134.24.232.41.292.555.055.134.116.252.178.362.263-.555.31-1.1.283-1.668-.035-.703-.198-1.422-.174-2.15.027-.851.195-1.405.21-2.063a5.793 5.793 0 0 0-.74-.048zm-8.234.115a2.82 2.82 0 0 0-.616.074 4.665 4.665 0 0 0-1.153.449 2.417 2.417 0 0 0-.349.228l-.022.02c.006.146.035.5.047 1.021.012.57-.002 1.297-.112 2.084-.239 1.71 1.002 3.126 2.46 3.128.085-.351.225-.707.365-1.082.406-1.094 1.205-1.892.532-5.006-.11-.51-.328-.716-.628-.832a1.474 1.474 0 0 0-.524-.084zm7.917.204h.05c.066.002.127.009.18.022.054.012.1.03.138.055a.164.164 0 0 1 .075.11l-.001.008h.001-.001a.24.24 0 0 1-.035.135.668.668 0 0 1-.11.15.677.677 0 0 1-.386.212.59.59 0 0 1-.41-.103.608.608 0 0 1-.13-.118.26.26 0 0 1-.063-.127.17.17 0 0 1 .042-.128.384.384 0 0 1 .117-.09c.096-.054.226-.094.373-.116.055-.008.109-.012.16-.013zm-7.82.168c.053 0 .109.005.166.013.153.021.289.062.393.122a.446.446 0 0 1 .133.106.223.223 0 0 1 .054.17.302.302 0 0 1-.075.154.649.649 0 0 1-.143.13.64.64 0 0 1-.448.113.728.728 0 0 1-.42-.228.71.71 0 0 1-.118-.164.28.28 0 0 1-.041-.177c.015-.108.104-.164.191-.195a.866.866 0 0 1 .307-.04zm9.06 7.343l-.003.001c-.147.053-.268.075-.37.12a.452.452 0 0 0-.239.214c-.063.115-.117.319-.101.666a.51.51 0 0 0 .148.07c.171.052.458.086.778.081.638-.007 1.423-.156 1.84-.35a3.95 3.95 0 0 0 .943-.615h-.001c-1.393.288-2.18.211-2.663.012a1.315 1.315 0 0 1-.332-.2zm-8.031.094h-.021c-.053.005-.13.023-.279.188-.348.39-.47.635-.757.864-.287.228-.66.35-1.405.503-.236.048-.371.101-.461.144.029.024.026.03.07.053.109.06.249.113.362.142.32.08.846.173 1.395.08.549-.094 1.12-.357 1.607-1.04.084-.118.093-.292.024-.479-.07-.187-.223-.348-.331-.393a.653.653 0 0 0-.204-.06z"/>
              </svg>
            </div>
            <p class="skill-text skill-text-postgres">PSQL</p>
          </div>
        </div>
      </section>
    </div>
  </div>
</section>

<section class="works">
  <section class="works-title-description">
    <div class="works-title-icon">
      <h4><%= t 'views.welcome.index.projects' %></h4>
      <svg xmlns="http://www.w3.org/2000/svg" width="160" height="12" viewBox="0 0 160 12" fill="none">
        <path d="M0.666667 6C0.666667 8.94552 3.05448 11.3333 6 11.3333C8.94552 11.3333 11.3333 8.94552 11.3333 6C11.3333 3.05448 8.94552 0.666667 6 0.666667C3.05448 0.666667 0.666667 3.05448 0.666667 6ZM148.667 6C148.667 8.94552 151.054 11.3333 154 11.3333C156.946 11.3333 159.333 8.94552 159.333 6C159.333 3.05448 156.946 0.666667 154 0.666667C151.054 0.666667 148.667 3.05448 148.667 6ZM6 7H154V5H6V7Z" fill="#30F711"></path>
      </svg>
    </div>
    <div class="works-description">
      <p><%= t 'views.welcome.index.projects-desc' %></p>
    </div>
  </section>
  <section class="works-content">
    <div class="works-wrapper-button">
      <button class="works-button">
        <svg xmlns="http://www.w3.org/2000/svg" width="21" height="20" viewBox="0 0 21 20" fill="none">
          <path d="M8.94593 9.99984L13.3567 5.58909C13.6821 5.26366 13.6821 4.73602 13.3567 4.41058C13.0312 4.08514 12.5036 4.08514 12.1782 4.41058L7.17816 9.41058C6.85272 9.73602 6.85272 10.2637 7.17816 10.5891L12.1782 15.5891C12.5036 15.9145 13.0312 15.9145 13.3567 15.5891C13.6821 15.2637 13.6821 14.736 13.3567 14.4106L8.94593 9.99984Z" fill="white"/>
        </svg>
      </button>
    </div>
    <section class="works-projects">
      <picture>
        <source media="(max-width: 440px)" srcset="<%= image_path('index/insomnia_api-small.png') %>" type="image/png">
        <source media="(max-width: 1100px)" srcset="<%= image_path('index/insomnia_api-medium.png') %>" type="image/png">
        <source media="(min-width: 1100px)" srcset="<%= image_path('index/insomnia_api-large.png') %>" type="image/png">
        <img src="index/insomnia_api-large.png" alt="projeto" class="works-projects-image">
      </picture>
    </section>
    <div class="works-wrapper-button">
      <button class="works-button">
        <svg xmlns="http://www.w3.org/2000/svg" width="21" height="20" viewBox="0 0 21 20" fill="none">
          <path d="M8.822 4.41058C8.49657 4.08514 7.96893 4.08514 7.64349 4.41058C7.31805 4.73602 7.31805 5.26366 7.64349 5.58909L12.0542 9.99984L7.64349 14.4106C7.31805 14.736 7.31805 15.2637 7.64349 15.5891C7.96893 15.9145 8.49657 15.9145 8.822 15.5891L13.822 10.5891C14.1474 10.2637 14.1474 9.73602 13.822 9.41058L8.822 4.41058Z" fill="white"/>
        </svg>
      </button>
    </div>
  </section>
</section>

<section class="contact">
  <section class="contact-container">
    <section class="contact-title-description">
      <div class="contact-title-icon">
        <h5><%= t 'views.welcome.index.contact' %></h5>
        <svg xmlns="http://www.w3.org/2000/svg" width="240" height="12" viewBox="0 0 240 12" fill="none">
          <path d="M0.666667 6C0.666667 8.94552 3.05448 11.3333 6 11.3333C8.94552 11.3333 11.3333 8.94552 11.3333 6C11.3333 3.05448 8.94552 0.666667 6 0.666667C3.05448 0.666667 0.666667 3.05448 0.666667 6ZM228.667 6C228.667 8.94552 231.054 11.3333 234 11.3333C236.946 11.3333 239.333 8.94552 239.333 6C239.333 3.05448 236.946 0.666667 234 0.666667C231.054 0.666667 228.667 3.05448 228.667 6ZM6 7H234V5H6V7Z" fill="#30F711"/>
        </svg>
      </div>
      <div class="contact-description">
        <p><%= t 'views.welcome.index.contact-desc' %></p>
      </div>
    </section>
    <section class="send-message">
      <section class="send-message-content">
        <div class="send-message-title">
          <h6><%= t 'views.welcome.index.messages' %></h6>
        </div>

        <%= form_with(model: @message, url: create_message_path, local: true, class: 'send-message-info') do |form| %>
          <div class="message-name-email">
            <div class="send-messages">
              <%= form.label :person_name, I18n.t('views.welcome.index.person_name'), class: 'send-messages-label' %>
              <%= form.text_field :person_name, class: 'send-messages-input', autocomplete: "off" %>
            </div>

            <div class="send-messages">
              <%= form.label :person_mail, I18n.t('views.welcome.index.person_mail'), class: 'send-messages-label' %>
              <%= form.email_field :person_mail, class: 'send-messages-input', autocomplete: "off"%>
            </div>
          </div>

          <div class="message-content-message">
            <%= form.label :description, I18n.t('views.welcome.index.message'), class: 'send-messages-label' %>
            <%= form.text_area :description, autocomplete: "off" %>
          </div>

          <button type="submit" class="form-submit-btn">
            <span><%= t 'views.welcome.index.send-message' %></span>
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M22.7071 1.29292C22.9306 1.5164 23.0262 1.81935 22.9939 2.11081C22.9848 2.19252 22.9657 2.27332 22.9366 2.35121L15.9439 22.3304C15.8084 22.7174 15.4504 22.9825 15.0408 22.9992C14.6311 23.0159 14.2527 22.7808 14.0862 22.4062L10.2424 13.7576L1.59387 9.91384C1.21919 9.74731 0.984122 9.36894 1.00084 8.95926C1.01755 8.54959 1.28265 8.19162 1.66965 8.05617L21.6488 1.06348C21.7272 1.03414 21.8085 1.01497 21.8907 1.00598C21.9511 0.999338 22.0117 0.998262 22.0717 1.00259C22.3032 1.01913 22.5301 1.11591 22.7071 1.29292ZM18.1943 4.3915L4.71108 9.11063L10.7785 11.8073L18.1943 4.3915ZM12.1928 13.2215L19.6085 5.80571L14.8894 19.289L12.1928 13.2215Z" fill="#131619"/>
            </svg>
          </button>
        <% end %>
      </section>
    </section>
  </section>

  <section class="footer">
    <div class="footer-container">
      <div class="footer-media">
        <%= link_to 'https://linkedin.com/in/dev-philipe', class: 'footer-medias footer-media-linkedin', target: '_blank' do %>
          <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 448 512">
            <path d="M416 32H31.9C14.3 32 0 46.5 0 64.3v383.4C0 465.5 14.3 480 31.9 480H416c17.6 0 32-14.5 32-32.3V64.3c0-17.8-14.4-32.3-32-32.3zM135.4 416H69V202.2h66.5V416zm-33.2-243c-21.3 0-38.5-17.3-38.5-38.5S80.9 96 102.2 96c21.2 0 38.5 17.3 38.5 38.5 0 21.3-17.2 38.5-38.5 38.5zm282.1 243h-66.4V312c0-24.8-.5-56.7-34.5-56.7-34.6 0-39.9 27-39.9 54.9V416h-66.4V202.2h63.7v29.2h.9c8.9-16.8 30.6-34.5 62.9-34.5 67.2 0 79.7 44.3 79.7 101.9V416z"/>
          </svg>
        <% end %>
        <%= link_to 'https://discord.gg/JmEbqDqPvw', class: 'footer-medias footer-media-discord', target: '_blank' do %>
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
            <path d="M6.32812 2.45312L5.9375 2.5C5.9375 2.5 4.18555 2.69141 2.90625 3.71875H2.89062L2.875 3.73438C2.58789 3.99805 2.46289 4.32227 2.26562 4.79688C2.06836 5.27148 1.85742 5.87695 1.67188 6.54688C1.30078 7.88867 1 9.51367 1 11V11.125L1.0625 11.25C1.52539 12.0625 2.34766 12.5801 3.10938 12.9375C3.87109 13.2949 4.5293 13.4844 4.98438 13.5L5.28125 13.5156L5.4375 13.25L5.98438 12.2812C6.56445 12.4121 7.23242 12.5 8 12.5C8.76758 12.5 9.43555 12.4121 10.0156 12.2812L10.5625 13.25L10.7188 13.5156L11.0156 13.5C11.4707 13.4844 12.1289 13.2949 12.8906 12.9375C13.6523 12.5801 14.4746 12.0625 14.9375 11.25L15 11.125V11C15 9.51367 14.6992 7.88867 14.3281 6.54688C14.1426 5.87695 13.9316 5.27148 13.7344 4.79688C13.5371 4.32227 13.4121 3.99805 13.125 3.73438L13.1094 3.71875H13.0938C11.8145 2.69141 10.0625 2.5 10.0625 2.5L9.67188 2.45312L9.53125 2.8125C9.53125 2.8125 9.38672 3.17773 9.29688 3.59375C8.73047 3.51758 8.26758 3.5 8 3.5C7.73242 3.5 7.26953 3.51758 6.70312 3.59375C6.61328 3.17773 6.46875 2.8125 6.46875 2.8125L6.32812 2.45312ZM5.64062 3.59375C5.66211 3.66406 5.68359 3.72461 5.70312 3.78125C5.05664 3.94141 4.36719 4.18555 3.73438 4.57812L4.26562 5.42188C5.5625 4.61719 7.42578 4.5 8 4.5C8.57422 4.5 10.4375 4.61719 11.7344 5.42188L12.2656 4.57812C11.6328 4.18555 10.9434 3.94141 10.2969 3.78125C10.3164 3.72461 10.3379 3.66406 10.3594 3.59375C10.8262 3.6875 11.7168 3.90234 12.4531 4.48438C12.4492 4.48633 12.6406 4.77539 12.8125 5.1875C12.9883 5.61133 13.1836 6.17578 13.3594 6.8125C13.6973 8.0332 13.9629 9.51953 13.9844 10.8281C13.6699 11.3086 13.0859 11.7422 12.4688 12.0312C11.9297 12.2832 11.5039 12.375 11.25 12.4219L11 12C11.1484 11.9453 11.2949 11.8848 11.4219 11.8281C12.1914 11.4902 12.6094 11.125 12.6094 11.125L11.9531 10.375C11.9531 10.375 11.6719 10.6328 11.0156 10.9219C10.3594 11.2109 9.35742 11.5 8 11.5C6.64258 11.5 5.64062 11.2109 4.98438 10.9219C4.32812 10.6328 4.04688 10.375 4.04688 10.375L3.39062 11.125C3.39062 11.125 3.80859 11.4902 4.57812 11.8281C4.70508 11.8848 4.85156 11.9453 5 12L4.75 12.4219C4.49609 12.375 4.07031 12.2832 3.53125 12.0312C2.91406 11.7422 2.33008 11.3086 2.01562 10.8281C2.03711 9.51953 2.30273 8.0332 2.64062 6.8125C2.81641 6.17578 3.01172 5.61133 3.1875 5.1875C3.35938 4.77539 3.55078 4.48633 3.54688 4.48438C4.2832 3.90234 5.17383 3.6875 5.64062 3.59375ZM6.25 7C5.86328 7 5.52148 7.2207 5.3125 7.5C5.10352 7.7793 5 8.12305 5 8.5C5 8.87695 5.10352 9.2207 5.3125 9.5C5.52148 9.7793 5.86328 10 6.25 10C6.63672 10 6.97852 9.7793 7.1875 9.5C7.39648 9.2207 7.5 8.87695 7.5 8.5C7.5 8.12305 7.39648 7.7793 7.1875 7.5C6.97852 7.2207 6.63672 7 6.25 7ZM9.75 7C9.36328 7 9.02148 7.2207 8.8125 7.5C8.60352 7.7793 8.5 8.12305 8.5 8.5C8.5 8.87695 8.60352 9.2207 8.8125 9.5C9.02148 9.7793 9.36328 10 9.75 10C10.1367 10 10.4785 9.7793 10.6875 9.5C10.8965 9.2207 11 8.87695 11 8.5C11 8.12305 10.8965 7.7793 10.6875 7.5C10.4785 7.2207 10.1367 7 9.75 7ZM6.25 8C6.27734 8 6.3125 8.00977 6.375 8.09375C6.4375 8.17773 6.5 8.32422 6.5 8.5C6.5 8.67578 6.4375 8.82227 6.375 8.90625C6.3125 8.99023 6.27734 9 6.25 9C6.22266 9 6.1875 8.99023 6.125 8.90625C6.0625 8.82227 6 8.67578 6 8.5C6 8.32422 6.0625 8.17773 6.125 8.09375C6.1875 8.00977 6.22266 8 6.25 8ZM9.75 8C9.77734 8 9.8125 8.00977 9.875 8.09375C9.9375 8.17773 10 8.32422 10 8.5C10 8.67578 9.9375 8.82227 9.875 8.90625C9.8125 8.99023 9.77734 9 9.75 9C9.72266 9 9.6875 8.99023 9.625 8.90625C9.5625 8.82227 9.5 8.67578 9.5 8.5C9.5 8.32422 9.5625 8.17773 9.625 8.09375C9.6875 8.00977 9.72266 8 9.75 8Z" fill="#131619"/>
          </svg>
        <% end %>
        <%= link_to 'https://github.com/PhilipeeX', class: 'footer-medias footer-media-github', target: '_blank' do %>
          <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 496 512">
            <path d="M165.9 397.4c0 2-2.3 3.6-5.2 3.6-3.3.3-5.6-1.3-5.6-3.6 0-2 2.3-3.6 5.2-3.6 3-.3 5.6 1.3 5.6 3.6zm-31.1-4.5c-.7 2 1.3 4.3 4.3 4.9 2.6 1 5.6 0 6.2-2s-1.3-4.3-4.3-5.2c-2.6-.7-5.5.3-6.2 2.3zm44.2-1.7c-2.9.7-4.9 2.6-4.6 4.9.3 2 2.9 3.3 5.9 2.6 2.9-.7 4.9-2.6 4.6-4.6-.3-1.9-3-3.2-5.9-2.9zM244.8 8C106.1 8 0 113.3 0 252c0 110.9 69.8 205.8 169.5 239.2 12.8 2.3 17.3-5.6 17.3-12.1 0-6.2-.3-40.4-.3-61.4 0 0-70 15-84.7-29.8 0 0-11.4-29.1-27.8-36.6 0 0-22.9-15.7 1.6-15.4 0 0 24.9 2 38.6 25.8 21.9 38.6 58.6 27.5 72.9 20.9 2.3-16 8.8-27.1 16-33.7-55.9-6.2-112.3-14.3-112.3-110.5 0-27.5 7.6-41.3 23.6-58.9-2.6-6.5-11.1-33.3 2.6-67.9 20.9-6.5 69 27 69 27 20-5.6 41.5-8.5 62.8-8.5s42.8 2.9 62.8 8.5c0 0 48.1-33.6 69-27 13.7 34.7 5.2 61.4 2.6 67.9 16 17.7 25.8 31.5 25.8 58.9 0 96.5-58.9 104.2-114.8 110.5 9.2 7.9 17 22.9 17 46.4 0 33.7-.3 75.4-.3 83.6 0 6.5 4.6 14.4 17.3 12.1C428.2 457.8 496 362.9 496 252 496 113.3 383.5 8 244.8 8zM97.2 352.9c-1.3 1-1 3.3.7 5.2 1.6 1.6 3.9 2.3 5.2 1 1.3-1 1-3.3-.7-5.2-1.6-1.6-3.9-2.3-5.2-1zm-10.8-8.1c-.7 1.3.3 2.9 2.3 3.9 1.6 1 3.6.7 4.3-.7.7-1.3-.3-2.9-2.3-3.9-2-.6-3.6-.3-4.3.7zm32.4 35.6c-1.6 1.3-1 4.3 1.3 6.2 2.3 2.3 5.2 2.6 6.5 1 1.3-1.3.7-4.3-1.3-6.2-2.2-2.3-5.2-2.6-6.5-1zm-11.4-14.7c-1.6 1-1.6 3.6 0 5.9 1.6 2.3 4.3 3.3 5.6 2.3 1.6-1.3 1.6-3.9 0-6.2-1.4-2.3-4-3.3-5.6-2z"/>
          </svg>
        <% end %>
      </div>
      <div class="footer-info">
        <p>&copy; 2023 Philipe. <%= t 'views.welcome.index.rights' %>.</p>
        <div class="footer-info-policy">
          <p><%= t 'views.welcome.index.privacy' %></p>
          <p><%= t 'views.welcome.index.terms' %></p>
        </div>
      </div>
    </div>
  </section>
</section>
