<nav class="navigation-bar">
  <div class="navigation-bar-button">
    <svg xmlns="http://www.w3.org/2000/svg" height="16" width="14" viewBox="0 0 448 512">
      <path d="M384 96V224H256V96H384zm0 192V416H256V288H384zM192 224H64V96H192V224zM64 288H192V416H64V288zM64 32C28.7 32 0 60.7 0 96V416c0 35.3 28.7 64 64 64H384c35.3 0 64-28.7 64-64V96c0-35.3-28.7-64-64-64H64z"/>
    </svg>
  </div>
  <div class="navigation-bar-button">
    <svg xmlns="http://www.w3.org/2000/svg" height="16" width="14" viewBox="0 0 448 512">
      <path d="M304 128a80 80 0 1 0 -160 0 80 80 0 1 0 160 0zM96 128a128 128 0 1 1 256 0A128 128 0 1 1 96 128zM49.3 464H398.7c-8.9-63.3-63.3-112-129-112H178.3c-65.7 0-120.1 48.7-129 112zM0 482.3C0 383.8 79.8 304 178.3 304h91.4C368.2 304 448 383.8 448 482.3c0 16.4-13.3 29.7-29.7 29.7H29.7C13.3 512 0 498.7 0 482.3z"/>
    </svg>
  </div>
  <div class="navigation-bar-button">
    <svg xmlns="http://www.w3.org/2000/svg" height="16" width="20" viewBox="0 0 640 512">
      <path d="M392.8 1.2c-17-4.9-34.7 5-39.6 22l-128 448c-4.9 17 5 34.7 22 39.6s34.7-5 39.6-22l128-448c4.9-17-5-34.7-22-39.6zm80.6 120.1c-12.5 12.5-12.5 32.8 0 45.3L562.7 256l-89.4 89.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l112-112c12.5-12.5 12.5-32.8 0-45.3l-112-112c-12.5-12.5-32.8-12.5-45.3 0zm-306.7 0c-12.5-12.5-32.8-12.5-45.3 0l-112 112c-12.5 12.5-12.5 32.8 0 45.3l112 112c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L77.3 256l89.4-89.4c12.5-12.5 12.5-32.8 0-45.3z"/>
    </svg>
  </div>
  <div class="navigation-bar-button">
    <svg xmlns="http://www.w3.org/2000/svg" height="16" width="18" viewBox="0 0 576 512">
      <path d="M64 0C28.7 0 0 28.7 0 64V352c0 35.3 28.7 64 64 64H240l-10.7 32H160c-17.7 0-32 14.3-32 32s14.3 32 32 32H416c17.7 0 32-14.3 32-32s-14.3-32-32-32H346.7L336 416H512c35.3 0 64-28.7 64-64V64c0-35.3-28.7-64-64-64H64zM512 64V352H64V64H512z"/>
    </svg>
  </div>
  <div class="navigation-bar-button">
    <svg xmlns="http://www.w3.org/2000/svg" height="16" width="16" viewBox="0 0 512 512">
      <path d="M64 112c-8.8 0-16 7.2-16 16v22.1L220.5 291.7c20.7 17 50.4 17 71.1 0L464 150.1V128c0-8.8-7.2-16-16-16H64zM48 212.2V384c0 8.8 7.2 16 16 16H448c8.8 0 16-7.2 16-16V212.2L322 328.8c-38.4 31.5-93.7 31.5-132 0L48 212.2zM0 128C0 92.7 28.7 64 64 64H448c35.3 0 64 28.7 64 64V384c0 35.3-28.7 64-64 64H64c-35.3 0-64-28.7-64-64V128z"/>
    </svg>
  </div>
</nav>
<section class="hero-section">
  <section class="hero-bg-title">
    <h1 class="hero-section-title">Developer</h1>
  </section>
  <section class="content">
    <section class="profile-left">
      <section class="profile-all">
        <div class="photo-name">
          <picture>
            <source media="(max-width: 400px)" srcset="<%= image_path('index/imagem-philipe-small.jpeg') %>" type="image/jpg">
            <source media="(max-width: 768px)" srcset="<%= image_path('index/imagem-philipe-medium.jpeg') %>" type="image/jpg">
            <source media="(min-width: 768px)" srcset="<%= image_path('raw-images/imagem-philipe.jpeg') %>" type="image/jpg">
            <img src="index/imagem-philipe-medium.jpeg" alt="foto philipe" class="profile-picture">
          </picture>
          <div class="name-stack">
            <h1 class="profile-name">Philipe</h1>
            <h2 class="profile-job-description">Full-stack developer</h2>
          </div>
        </div>
        <div class="profile-info">
          <section class="profile-text">
            <div class="texts">
              <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14" fill="none" class="profile-text-icon">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M0.583575 3.48988C0.58348 3.49564 0.583471 3.50139 0.583546 3.50715V10.5C0.583546 11.4638 1.36971 12.25 2.33355 12.25H11.6669C12.6307 12.25 13.4169 11.4638 13.4169 10.5V3.50721C13.417 3.50141 13.4169 3.4956 13.4169 3.4898C13.4113 2.53063 12.6273 1.75 11.6669 1.75H2.33355C1.37309 1.75 0.589053 2.53067 0.583575 3.48988ZM1.81238 3.2398C1.90885 3.04904 2.10724 2.91667 2.33355 2.91667H11.6669C11.8932 2.91667 12.0916 3.04904 12.188 3.2398L7.00021 6.87128L1.81238 3.2398ZM12.2502 4.62038V10.5C12.2502 10.8195 11.9864 11.0833 11.6669 11.0833H2.33355C2.01405 11.0833 1.75021 10.8195 1.75021 10.5V4.62038L6.66569 8.06122C6.86655 8.20182 7.13388 8.20182 7.33473 8.06122L12.2502 4.62038Z" fill="#30F711"/>
              </svg>
              <span class="profile-inner-texts">dev.philipe@outlook.com</span>
            </div>
            <div class="texts">
              <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14" fill="none" class="profile-text-icon">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M6.99984 3.5C5.71117 3.5 4.6665 4.54467 4.6665 5.83333C4.6665 7.122 5.71117 8.16667 6.99984 8.16667C8.2885 8.16667 9.33317 7.122 9.33317 5.83333C9.33317 4.54467 8.2885 3.5 6.99984 3.5ZM5.83317 5.83333C5.83317 5.189 6.3555 4.66667 6.99984 4.66667C7.64417 4.66667 8.1665 5.189 8.1665 5.83333C8.1665 6.47767 7.64417 7 6.99984 7C6.3555 7 5.83317 6.47767 5.83317 5.83333Z" fill="#30F711"/>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M6.67595 13.9018C6.67611 13.9019 6.67626 13.902 6.99984 13.4167L6.67595 13.9018C6.87189 14.0324 7.12747 14.0327 7.32341 13.902L6.99984 13.4167C7.32341 13.902 7.32324 13.9021 7.32341 13.902L7.3254 13.9007L7.32928 13.8981L7.34265 13.8891C7.35401 13.8813 7.37021 13.8703 7.39093 13.8559C7.43236 13.8272 7.4919 13.7854 7.56696 13.7312C7.71702 13.6228 7.92946 13.4646 8.18352 13.2623C8.69073 12.8584 9.36853 12.275 10.0483 11.5574C11.384 10.1475 12.8332 8.10947 12.8332 5.83333C12.8332 4.28624 12.2186 2.80251 11.1246 1.70854C10.0307 0.614581 8.54693 0 6.99984 0C5.45274 0 3.96901 0.614581 2.87505 1.70854C1.78109 2.80251 1.1665 4.28624 1.1665 5.83333C1.1665 8.10947 2.61566 10.1475 3.95136 11.5574C4.63115 12.275 5.30895 12.8584 5.81615 13.2623C6.07021 13.4646 6.28266 13.6228 6.43272 13.7312C6.50777 13.7854 6.56731 13.8272 6.60875 13.8559C6.62946 13.8703 6.64566 13.8813 6.65702 13.8891L6.67039 13.8981L6.67428 13.9007L6.67595 13.9018ZM3.70001 2.5335C4.57517 1.65833 5.76216 1.16667 6.99984 1.16667C8.23751 1.16667 9.4245 1.65833 10.2997 2.5335C11.1748 3.40867 11.6665 4.59566 11.6665 5.83333C11.6665 7.64053 10.4907 9.39415 9.20136 10.7551C8.56865 11.4229 7.93395 11.9697 7.45678 12.3497C7.27919 12.4911 7.12407 12.6089 6.99984 12.7007C6.8756 12.6089 6.72049 12.4911 6.5429 12.3497C6.06573 11.9697 5.43103 11.4229 4.79831 10.7551C3.50902 9.39415 2.33317 7.64053 2.33317 5.83333C2.33317 4.59566 2.82484 3.40867 3.70001 2.5335Z" fill="#30F711"/>
              </svg>
              <span class="profile-inner-texts">Rio de Janeiro - Brazil</span>
            </div>
            <div class="texts">
              <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14" fill="none" class="profile-text-icon">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M5.8335 1.16666C5.36937 1.16666 4.92425 1.35103 4.59606 1.67922C4.26787 2.00741 4.0835 2.45253 4.0835 2.91666V3.49999H2.3335C1.367 3.49999 0.583496 4.28349 0.583496 5.24999V11.0833C0.583496 12.0498 1.367 12.8333 2.3335 12.8333H11.6668C12.6333 12.8333 13.4168 12.0498 13.4168 11.0833V5.24999C13.4168 4.28349 12.6333 3.49999 11.6668 3.49999H9.91683V2.91666C9.91683 2.45253 9.73246 2.00741 9.40427 1.67922C9.07608 1.35103 8.63096 1.16666 8.16683 1.16666H5.8335ZM8.75016 3.49999V2.91666C8.75016 2.76195 8.68871 2.61357 8.57931 2.50418C8.46991 2.39478 8.32154 2.33332 8.16683 2.33332H5.8335C5.67879 2.33332 5.53041 2.39478 5.42102 2.50418C5.31162 2.61357 5.25016 2.76195 5.25016 2.91666V3.49999H8.75016ZM5.25016 4.66666H8.75016V11.6667H5.25016V4.66666ZM4.0835 4.66666H2.3335C2.01133 4.66666 1.75016 4.92782 1.75016 5.24999V11.0833C1.75016 11.4055 2.01133 11.6667 2.3335 11.6667H4.0835V4.66666ZM9.91683 11.6667V4.66666H11.6668C11.989 4.66666 12.2502 4.92782 12.2502 5.24999V11.0833C12.2502 11.4055 11.989 11.6667 11.6668 11.6667H9.91683Z" fill="#30F711"/>
              </svg>
              <span class="profile-inner-texts">Full time / Freelancer</span>
            </div>
            <div class="texts">
              <i class="fa-brands fa-github profile-text-icon"></i>
              <span class="profile-inner-texts">https://github.com/PhilipeeX</span>
            </div>
          </section>
          <section class="profile-label">
            <div class="profile-labels">RUBY</div>
            <div class="profile-labels">RAILS</div>
            <div class="profile-labels">HTML</div>
            <div class="profile-labels">CSS</div>
          </section>
        </div>
      </section>
      <a href="../../../public/Philipe_curriculo_dez_2023.pdf" download="Philipe_curriculo.pdf" type="application/pdf">
        <button class="cv-button">
          Download CV
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
            <path d="M13 3C13 2.44772 12.5523 2 12 2C11.4477 2 11 2.44772 11 3V12.5858L7.70711 9.29289C7.31658 8.90237 6.68342 8.90237 6.29289 9.29289C5.90237 9.68342 5.90237 10.3166 6.29289 10.7071L11.2929 15.7071C11.6834 16.0976 12.3166 16.0976 12.7071 15.7071L17.7071 10.7071C18.0976 10.3166 18.0976 9.68342 17.7071 9.29289C17.3166 8.90237 16.6834 8.90237 16.2929 9.29289L13 12.5858V3Z" fill="#131619"/>
            <path d="M3 14C3.55228 14 4 14.4477 4 15V19C4 19.2652 4.10536 19.5196 4.29289 19.7071C4.48043 19.8946 4.73478 20 5 20H19C19.2652 20 19.5196 19.8946 19.7071 19.7071C19.8946 19.5196 20 19.2652 20 19V15C20 14.4477 20.4477 14 21 14C21.5523 14 22 14.4477 22 15V19C22 19.7957 21.6839 20.5587 21.1213 21.1213C20.5587 21.6839 19.7957 22 19 22H5C4.20435 22 3.44129 21.6839 2.87868 21.1213C2.31607 20.5587 2 19.7957 2 19V15C2 14.4477 2.44772 14 3 14Z" fill="#131619"/>
          </svg>
        </button>
      </a>
    </section>

    <section class="profile-right">
      <section class="profile-title-description">
        <div class="profile-right-title">
          <span class="profile-title-code">
            <%= "<h1>" %>
          </span>
          <div class="profile-right-title-text">
            <span>Hey</span>
            <span>I’m <span class="profile-right-name">Philipe</span>,</span>
            <span>Full-stack developer</span>
          </div>
          <span class="profile-title-code">
             <%= "</h1>" %>
          </span>
        </div>
        <div class="profile-right-paragraph">
          <span class="profile-title-code">
            <%= "<p>" %>
          </span>
          <div class="paragraph-text">
            <span class="paragraph-inner-text">I help business grow by crafting amazing web experiences. If you’re looking for a developer that likes to get stuff done,</span>
          </div>
          <span class="profile-title-code">
            <%= "</p>" %>
          </span>
          <div class="CTA">
            <span class="profile-right-talk">let’s talk</span>
            <button class="button-CTA">
              <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14" fill="none" class="button-CTA-icon">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M0.583575 3.48988C0.58348 3.49564 0.583471 3.50139 0.583546 3.50715V10.5C0.583546 11.4638 1.36971 12.25 2.33355 12.25H11.6669C12.6307 12.25 13.4169 11.4638 13.4169 10.5V3.50721C13.417 3.50141 13.4169 3.4956 13.4169 3.4898C13.4113 2.53063 12.6273 1.75 11.6669 1.75H2.33355C1.37309 1.75 0.589053 2.53067 0.583575 3.48988ZM1.81238 3.2398C1.90885 3.04904 2.10724 2.91667 2.33355 2.91667H11.6669C11.8932 2.91667 12.0916 3.04904 12.188 3.2398L7.00021 6.87128L1.81238 3.2398ZM12.2502 4.62038V10.5C12.2502 10.8195 11.9864 11.0833 11.6669 11.0833H2.33355C2.01405 11.0833 1.75021 10.8195 1.75021 10.5V4.62038L6.66569 8.06122C6.86655 8.20182 7.13388 8.20182 7.33473 8.06122L12.2502 4.62038Z" fill="#30F711"/>
              </svg>
            </button>
          </div>
        </div>
      </section>
      <section class="highlights">
        <div class="language">
          <span class="highlight-numbers">3</span><div class="highlight-text"><span class="highlight-texts">Programming</span><span class="highlight-texts">Languages</span> </div>
        </div>
        <div class="tools">
          <span class="highlight-numbers">6</span><div class="highlight-text"><span class="highlight-texts">Development</span><span class="highlight-texts">Tools</span> </div>
        </div>
        <div class="experience">
          <span class="highlight-numbers">2</span><div class="highlight-text"><span class="highlight-texts">Years of</span><span class="highlight-texts">Experience</span> </div>
        </div>
      </section>
    </section>
  </section>
</section>

<section class="about-me">
  <section class="about-me-container">
    <section class="about-me-content">
      <div class="about-me-title">
        <span>About me</span>
      </div>
      <div class="about-me-text">
        <span class="profile-title-code">
          <%= "<p>" %>
        </span>
        <div class="about-me-description">
          <span class="about-me-description-title">Hello!</span>
          <p>My name is Philipe and I specialize in web developement that utilizes Ruby, Rails framework, JS, and REACT.</p>
          <p>I am a highly motivated individual and eternal optimist dedicated to writing clear, concise, robust code that works. Striving to never stop learning and improving.</p>
          <p>When I'm not coding, I am writing blogs, reading, or picking up some new hands-on art project.</p>
          <p>I like to have my perspective and belief systems challenged so that I see the world through new eyes.</p>
        </div>
        <span class="profile-title-code">
          <%= "</p>" %>
        </span>
      </div>
    </section>
    <section class="about-me-image">
      <picture>
        <source media="(max-width: 400px)" srcset="<%= image_path('index/code-img-very-small.jpg') %>" type="image/jpg">
        <source media="(max-width: 768px)" srcset="<%= image_path('index/code-img-medium.jpg') %>" type="image/jpg">
        <source media="(min-width: 768px)" srcset="<%= image_path('raw-images/code-img-lg2.jpg') %>" type="image/jpg">
        <img src="raw-images/code-img-lg2.jpg" alt="computadores com telas de codigo" class="about-me-image">
      </picture>
    </section>
  </section>
</section>

<section class="skills">
  <div class="skills-container">
    <div class="skills-title-description">
      <div class="skills-title">
        <h3>Skills</h3>
        <svg xmlns="http://www.w3.org/2000/svg" width="160" height="12" viewBox="0 0 160 12" fill="none">
          <path d="M0.666667 6C0.666667 8.94552 3.05448 11.3333 6 11.3333C8.94552 11.3333 11.3333 8.94552 11.3333 6C11.3333 3.05448 8.94552 0.666667 6 0.666667C3.05448 0.666667 0.666667 3.05448 0.666667 6ZM148.667 6C148.667 8.94552 151.054 11.3333 154 11.3333C156.946 11.3333 159.333 8.94552 159.333 6C159.333 3.05448 156.946 0.666667 154 0.666667C151.054 0.666667 148.667 3.05448 148.667 6ZM6 7H154V5H6V7Z" fill="#30F711"/>
        </svg>
      </div>
      <p class="skills-description">
        I am striving to never stop learning and improving
      </p>
    </div>
    <div class="skills-cards-icons">
      <section class="skills-cards">
        <div class="skill-card">
          <section class="skill-card-icons">
            <i class="fa-solid fa-desktop"></i>
          </section>
          <div class="skill-card-text">
            <p class="skill-card-title">web development</p>
            <p class="skill-card-description">HTML·CSS·JS·REACT</p>
          </div>
        </div>
        <div class="skill-card">
          <section class="skill-card-icons">
            <i class="fa-solid fa-mobile-screen"></i>
          </section>
          <div class="skill-card-text">
            <p class="skill-card-title">App development</p>
            <p class="skill-card-description">iOS·Android</p>
          </div>
        </div>
      </section>
      <section class="skills-icons">
        <div class="skills-icons-line">
          <div class="skill-icon">
            <div class="skill-icons skill-icon-html">
              <svg xmlns="http://www.w3.org/2000/svg" width="64" height="64" viewBox="0 0 64 64" fill="none">
                <path d="M10.4375 8L10.625 10.1875L14.125 49.75L14.25 51.125L15.5625 51.5L31.4375 55.9375L31.9375 56.0625L32.5 55.9375L48.375 51.5625L49.6875 51.1875L49.8125 49.8125L53.375 10.1875L53.5625 8.0625H51.375L12.625 8H10.4375ZM14.8125 12L49.1875 12.0625L45.9375 48.0625L32 51.9375L18 48.0625L14.8125 12ZM19.625 18L20.9375 32.9375H38.0625L37.5 39.375L32 40.875H31.9375L26.4375 39.375L26.125 35.25H21.125L21.8125 43.1875L31.9375 46H32L42.125 43.1875L43.5 28H25.4375L25 22.9375H43.9375L44.375 18H19.625Z" fill="white"/>
              </svg>
            </div>
            <p class="skill-text skill-text-html">HTML</p>
          </div>
          <div class="skill-icon">
            <div class="skill-icons skill-icon-css">
              <svg xmlns="http://www.w3.org/2000/svg" width="64" height="64" viewBox="0 0 64 64" fill="none">
                <path d="M12 8L16 50L32 56L48 50L52 8H12ZM18.6641 14H45.3047L44.7812 20L33.3906 26H38.2422H44H44.2461L43.2227 38.0156L43.2617 38L42.7109 44L32 48L21.2695 44L20.6094 36H26.6523L26.9648 40.0664L32 41.8086L37.043 40.1016L37.7344 32H20.2617L19.7461 26L31.5664 20H19.2188L18.6641 14Z" fill="white"/>
              </svg>
            </div>
            <p class="skill-text skill-text-css">CSS</p>
          </div>
        </div>
        <div class="skills-icons-line">
          <div class="skill-icon">
            <div class="skill-icons skill-icon-js">
              <svg xmlns="http://www.w3.org/2000/svg" width="64" height="64" viewBox="0 0 64 64" fill="none">
                <path d="M31.9883 6C31.2583 6 30.5284 6.17906 29.8984 6.53906L10.0781 17.9805C8.79813 18.7205 8 20.1216 8 21.6016V42.3594C8 43.8594 8.79813 45.2405 10.0781 45.9805L15.2812 48.9805C17.8013 50.2205 18.6998 50.2188 19.8398 50.2188C23.5798 50.2188 25.7188 47.9591 25.7188 44.0391V22.6211C25.7188 22.3011 25.4606 22.0391 25.1406 22.0391H22.6406C22.3006 22.0391 22.0586 22.3011 22.0586 22.6211V44.0195C22.0586 45.7795 20.2408 47.4991 17.3008 46.0391L11.8594 42.8984C11.6594 42.7984 11.5391 42.5794 11.5391 42.3594V21.6211C11.5391 21.3811 11.6594 21.1786 11.8594 21.0586L31.6797 9.62109C31.8597 9.50109 32.1008 9.50109 32.3008 9.62109L52.1211 21.0586C52.3211 21.1786 52.4414 21.3816 52.4414 21.6016V42.3594C52.4414 42.5794 52.3206 42.7984 52.1406 42.8984L32.3008 54.3594C32.1208 54.4594 31.8597 54.4594 31.6797 54.3594L26.5781 51.3398C26.4381 51.2398 26.2416 51.2208 26.1016 51.3008C24.6816 52.1008 24.4216 52.2002 23.1016 52.6602C22.7816 52.7602 22.2812 52.9595 23.2812 53.5195L29.8984 57.4414C30.5384 57.8014 31.2605 58 31.9805 58C32.7205 58 33.4381 57.8014 34.0781 57.4414L53.9219 45.9805C55.2019 45.2405 56 43.8594 56 42.3594V21.6211C56 20.1211 55.2019 18.74 53.9219 18L34.0781 6.53906C33.4481 6.17906 32.7183 6 31.9883 6ZM37.3203 22.0117C31.6603 22.0117 28.2812 24.4102 28.2812 28.4102C28.2812 32.7502 31.6381 33.9483 37.0781 34.4883C43.5781 35.1283 44.0781 36.0911 44.0781 37.3711C44.0781 39.5711 42.3011 40.5117 38.1211 40.5117C32.8611 40.5117 31.7003 39.1898 31.3203 36.5898C31.2803 36.3098 31.0417 36.1094 30.7617 36.1094H28.1797C27.8597 36.1094 27.6211 36.3719 27.6211 36.6719C27.6211 40.0119 29.4411 43.9883 38.1211 43.9883C44.4011 43.9883 48 41.5114 48 37.1914C48 32.9114 45.0995 31.7692 39.0195 30.9492C32.8395 30.1492 32.2188 29.7291 32.2188 28.2891C32.2188 27.0891 32.7603 25.5117 37.3203 25.5117C41.3803 25.5117 42.8995 26.3889 43.5195 29.1289C43.5795 29.3889 43.7981 29.5898 44.0781 29.5898H46.6602C46.8202 29.5898 46.9581 29.5106 47.0781 29.3906C47.1781 29.2906 47.2388 29.1292 47.2188 28.9492C46.8187 24.2292 43.6803 22.0117 37.3203 22.0117Z" fill="white"/>
              </svg>
            </div>
            <p class="skill-text skill-text-js">JS</p>
          </div>
          <div class="skill-icon">
            <div class="skill-icons skill-icon-react">
              <svg xmlns="http://www.w3.org/2000/svg" width="64" height="64" viewBox="0 0 64 64" fill="none">
                <path d="M22.8086 6.71873C21.118 6.60662 19.4564 6.9091 18 7.74998C16.0581 8.87114 14.7649 10.7849 14.0703 12.9883C13.3757 15.1916 13.2152 17.7309 13.4688 20.5039C13.4944 20.7848 13.5438 21.0775 13.5781 21.3633C13.313 21.4766 13.0339 21.5808 12.7773 21.6992C10.2491 22.8661 8.13119 24.2733 6.57031 25.9765C5.00944 27.6798 4 29.7576 4 32C4 34.2423 5.00944 36.3202 6.57031 38.0234C8.13119 39.7266 10.2491 41.1339 12.7773 42.3008C13.0339 42.4192 13.313 42.5233 13.5781 42.6367C13.5438 42.9224 13.4944 43.2152 13.4688 43.4961C13.2152 46.2691 13.3757 48.8083 14.0703 51.0117C14.7649 53.2151 16.0581 55.1288 18 56.25C19.9419 57.3711 22.2445 57.5353 24.5 57.0351C26.7555 56.535 29.0339 55.4029 31.3086 53.7969C31.5389 53.6343 31.7698 53.4459 32 53.2734C32.2302 53.4459 32.4611 53.6343 32.6914 53.7969C34.9661 55.4029 37.2445 56.535 39.5 57.0351C41.7555 57.5353 44.0581 57.3711 46 56.25C47.9419 55.1288 49.2351 53.2151 49.9297 51.0117C50.6243 48.8083 50.7848 46.2691 50.5312 43.4961C50.5056 43.2152 50.4562 42.9224 50.4219 42.6367C50.687 42.5233 50.9661 42.4192 51.2227 42.3008C53.7509 41.1339 55.8688 39.7266 57.4297 38.0234C58.9906 36.3202 60 34.2423 60 32C60 29.7576 58.9906 27.6798 57.4297 25.9765C55.8688 24.2733 53.7509 22.8661 51.2227 21.6992C50.9661 21.5808 50.687 21.4766 50.4219 21.3633C50.4562 21.0775 50.5056 20.7848 50.5312 20.5039C50.7848 17.7309 50.6243 15.1916 49.9297 12.9883C49.2351 10.7849 47.9419 8.87114 46 7.74998C44.0581 6.62881 41.7555 6.46468 39.5 6.96482C37.2445 7.46497 34.9661 8.59701 32.6914 10.2031C32.4611 10.3657 32.2302 10.5541 32 10.7265C31.7698 10.5541 31.5389 10.3657 31.3086 10.2031C29.0339 8.59701 26.7555 7.46497 24.5 6.96482C23.9361 6.83979 23.3721 6.7561 22.8086 6.71873ZM22.5469 10.7031C22.8877 10.7288 23.25 10.7853 23.6367 10.8711C25.1481 11.2062 26.9581 12.0545 28.8672 13.3828C27.2772 14.8911 25.7124 16.6071 24.2188 18.5273C21.8117 18.8607 19.5444 19.3544 17.4453 19.9765C17.2498 17.66 17.4175 15.6674 17.8828 14.1914C18.3592 12.6803 19.0722 11.7505 20 11.2148C20.6959 10.8131 21.5244 10.6261 22.5469 10.7031ZM41.4531 10.7031C42.4756 10.6261 43.3041 10.8131 44 11.2148C44.9278 11.7505 45.6408 12.6803 46.1172 14.1914C46.5825 15.6674 46.7502 17.66 46.5547 19.9765C44.4556 19.3544 42.1883 18.8607 39.7812 18.5273C38.2876 16.6071 36.7228 14.8911 35.1328 13.3828C37.0419 12.0545 38.8519 11.2062 40.3633 10.8711C40.75 10.7853 41.1123 10.7288 41.4531 10.7031ZM32 15.9179C32.703 16.5679 33.4047 17.2907 34.1055 18.0469C33.408 18.0222 32.711 18 32 18C31.289 18 30.592 18.0222 29.8945 18.0469C30.5953 17.2907 31.297 16.5679 32 15.9179ZM32 22C33.9291 22 35.7988 22.1134 37.5977 22.3047C38.6627 23.7669 39.6956 25.3294 40.6602 27C41.6248 28.6707 42.4615 30.3464 43.1953 32C42.4615 33.6536 41.6248 35.3292 40.6602 37C39.6956 38.6706 38.6627 40.233 37.5977 41.6953C35.7988 41.8865 33.9291 42 32 42C30.0709 42 28.2012 41.8865 26.4023 41.6953C25.3373 40.233 24.3044 38.6706 23.3398 37C22.3752 35.3292 21.5385 33.6536 20.8047 32C21.5385 30.3464 22.3752 28.6707 23.3398 27C24.3044 25.3294 25.3373 23.7669 26.4023 22.3047C28.2012 22.1134 30.0709 22 32 22ZM20.9688 23.1992C20.5987 23.7908 20.2305 24.3843 19.875 25C19.5195 25.6157 19.1906 26.2313 18.8633 26.8476C18.5592 25.8641 18.2854 24.8934 18.0742 23.9609C18.9882 23.6772 19.9639 23.4279 20.9688 23.1992ZM43.0312 23.1992C44.0361 23.4279 45.0118 23.6772 45.9258 23.9609C45.7146 24.8934 45.4408 25.8641 45.1367 26.8476C44.8094 26.2313 44.4805 25.6157 44.125 25C43.7695 24.3843 43.4013 23.7908 43.0312 23.1992ZM14.3086 25.4062C14.8197 27.537 15.5255 29.7468 16.4414 32C15.5255 34.2532 14.8197 36.463 14.3086 38.5937C12.2056 37.605 10.5648 36.4609 9.51953 35.3203C8.44906 34.1522 8 33.0714 8 32C8 30.9286 8.44906 29.8478 9.51953 28.6797C10.5648 27.5391 12.2056 26.395 14.3086 25.4062ZM49.6914 25.4062C51.7944 26.395 53.4352 27.5391 54.4805 28.6797C55.5509 29.8478 56 30.9286 56 32C56 33.0714 55.5509 34.1522 54.4805 35.3203C53.4352 36.4609 51.7944 37.605 49.6914 38.5937C49.1803 36.463 48.4745 34.2532 47.5586 32C48.4745 29.7468 49.1803 27.537 49.6914 25.4062ZM32 26C28.71 26 26 28.71 26 32C26 35.29 28.71 38 32 38C35.29 38 38 35.29 38 32C38 28.71 35.29 26 32 26ZM32 30C33.1283 30 34 30.8717 34 32C34 33.1282 33.1283 34 32 34C30.8717 34 30 33.1282 30 32C30 30.8717 30.8717 30 32 30ZM18.8633 37.1523C19.1906 37.7686 19.5195 38.3843 19.875 39C20.2305 39.6157 20.5987 40.2091 20.9688 40.8008C19.9639 40.572 18.9882 40.3228 18.0742 40.039C18.2854 39.1066 18.5592 38.1358 18.8633 37.1523ZM45.1367 37.1523C45.4408 38.1358 45.7146 39.1066 45.9258 40.039C45.0118 40.3228 44.0361 40.572 43.0312 40.8008C43.4013 40.2091 43.7695 39.6157 44.125 39C44.4805 38.3843 44.8094 37.7686 45.1367 37.1523ZM17.4453 44.0234C19.5444 44.6456 21.8117 45.1392 24.2188 45.4726C25.7124 47.3929 27.2772 49.1088 28.8672 50.6172C26.9581 51.9454 25.1481 52.7937 23.6367 53.1289C22.0899 53.4719 20.9278 53.3208 20 52.7851C19.0722 52.2494 18.3592 51.3197 17.8828 49.8086C17.4175 48.3326 17.2498 46.3399 17.4453 44.0234ZM46.5547 44.0234C46.7502 46.3399 46.5825 48.3326 46.1172 49.8086C45.6408 51.3197 44.9278 52.2494 44 52.7851C43.0722 53.3208 41.9101 53.4719 40.3633 53.1289C38.8519 52.7937 37.0419 51.9454 35.1328 50.6172C36.7228 49.1088 38.2876 47.3929 39.7812 45.4726C42.1883 45.1392 44.4556 44.6456 46.5547 44.0234ZM29.8945 45.9531C30.592 45.9778 31.289 46 32 46C32.711 46 33.408 45.9778 34.1055 45.9531C33.4047 46.7093 32.703 47.4321 32 48.082C31.297 47.4321 30.5953 46.7093 29.8945 45.9531Z" fill="white"/>
              </svg>
            </div>
            <p class="skill-text skill-text-react">REACT</p>
          </div>
        </div>
      </section>
    </div>
  </div>
</section>

<section class="works">
  <section class="works-title-description">
    <div class="works-title-icon">
      <h4>works</h4>
      <svg xmlns="http://www.w3.org/2000/svg" width="160" height="12" viewBox="0 0 160 12" fill="none">
        <path d="M0.666667 6C0.666667 8.94552 3.05448 11.3333 6 11.3333C8.94552 11.3333 11.3333 8.94552 11.3333 6C11.3333 3.05448 8.94552 0.666667 6 0.666667C3.05448 0.666667 0.666667 3.05448 0.666667 6ZM148.667 6C148.667 8.94552 151.054 11.3333 154 11.3333C156.946 11.3333 159.333 8.94552 159.333 6C159.333 3.05448 156.946 0.666667 154 0.666667C151.054 0.666667 148.667 3.05448 148.667 6ZM6 7H154V5H6V7Z" fill="#30F711"></path>
      </svg>
    </div>
    <div class="works-description">
      <p>I had the pleasure of working with these awesome projects</p>
    </div>
  </section>
  <section class="works-content">
    <div class="works-wrapper-button">
      <button class="works-button">
        <svg xmlns="http://www.w3.org/2000/svg" width="21" height="20" viewBox="0 0 21 20" fill="none">
          <path d="M8.94593 9.99984L13.3567 5.58909C13.6821 5.26366 13.6821 4.73602 13.3567 4.41058C13.0312 4.08514 12.5036 4.08514 12.1782 4.41058L7.17816 9.41058C6.85272 9.73602 6.85272 10.2637 7.17816 10.5891L12.1782 15.5891C12.5036 15.9145 13.0312 15.9145 13.3567 15.5891C13.6821 15.2637 13.6821 14.736 13.3567 14.4106L8.94593 9.99984Z" fill="white"/>
        </svg>
      </button>
    </div>
    <section class="works-projects">
      <picture>
        <source media="(max-width: 440px)" srcset="<%= image_path('index/insomnia_api-small.png') %>" type="image/png">
        <source media="(max-width: 1100px)" srcset="<%= image_path('index/insomnia_api-medium.png') %>" type="image/png">
        <source media="(min-width: 1100px)" srcset="<%= image_path('index/insomnia_api-large.png') %>" type="image/png">
        <img src="index/insomnia_api-large.png" alt="projeto" class="works-projects-image">
      </picture>
    </section>
    <div class="works-wrapper-button">
      <button class="works-button">
        <svg xmlns="http://www.w3.org/2000/svg" width="21" height="20" viewBox="0 0 21 20" fill="none">
          <path d="M8.822 4.41058C8.49657 4.08514 7.96893 4.08514 7.64349 4.41058C7.31805 4.73602 7.31805 5.26366 7.64349 5.58909L12.0542 9.99984L7.64349 14.4106C7.31805 14.736 7.31805 15.2637 7.64349 15.5891C7.96893 15.9145 8.49657 15.9145 8.822 15.5891L13.822 10.5891C14.1474 10.2637 14.1474 9.73602 13.822 9.41058L8.822 4.41058Z" fill="white"/>
        </svg>
      </button>
    </div>
  </section>
</section>

<section class="contact">
  <section class="contact-container">
    <section class="contact-title-description">
      <div class="contact-title-icon">
        <h5>Contact</h5>
        <svg xmlns="http://www.w3.org/2000/svg" width="240" height="12" viewBox="0 0 240 12" fill="none">
          <path d="M0.666667 6C0.666667 8.94552 3.05448 11.3333 6 11.3333C8.94552 11.3333 11.3333 8.94552 11.3333 6C11.3333 3.05448 8.94552 0.666667 6 0.666667C3.05448 0.666667 0.666667 3.05448 0.666667 6ZM228.667 6C228.667 8.94552 231.054 11.3333 234 11.3333C236.946 11.3333 239.333 8.94552 239.333 6C239.333 3.05448 236.946 0.666667 234 0.666667C231.054 0.666667 228.667 3.05448 228.667 6ZM6 7H234V5H6V7Z" fill="#30F711"/>
        </svg>
      </div>
      <div class="contact-description">
        <p>I’m currently available for remote work</p>
      </div>
    </section>
    <section class="send-message">
      <section class="send-message-content">
        <div class="send-message-title">
          <h6>Send me a message</h6>
        </div>
        <div class="send-message-info">
          <div class="message-name-email">
            <div class="send-messages">
              <p>Your name *</p>
              <p>Enter your name</p>
            </div>
            <div class="send-messages">
              <p>Your email *</p>
              <p>Enter your email</p>
            </div>
          </div>
          <div class="message-content-message">
            <p>Your message *</p>
            <p>Enter your needs</p>
          </div>
        </div>
      </section>
      <button>
        <span>Send Message</span>
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M22.7071 1.29292C22.9306 1.5164 23.0262 1.81935 22.9939 2.11081C22.9848 2.19252 22.9657 2.27332 22.9366 2.35121L15.9439 22.3304C15.8084 22.7174 15.4504 22.9825 15.0408 22.9992C14.6311 23.0159 14.2527 22.7808 14.0862 22.4062L10.2424 13.7576L1.59387 9.91384C1.21919 9.74731 0.984122 9.36894 1.00084 8.95926C1.01755 8.54959 1.28265 8.19162 1.66965 8.05617L21.6488 1.06348C21.7272 1.03414 21.8085 1.01497 21.8907 1.00598C21.9511 0.999338 22.0117 0.998262 22.0717 1.00259C22.3032 1.01913 22.5301 1.11591 22.7071 1.29292ZM18.1943 4.3915L4.71108 9.11063L10.7785 11.8073L18.1943 4.3915ZM12.1928 13.2215L19.6085 5.80571L14.8894 19.289L12.1928 13.2215Z" fill="#131619"/>
        </svg>
      </button>
    </section>
  </section>
  <section class="footer">
    <div class="footer-container">
      <div class="footer-media">
        <%= link_to 'https://linkedin.com/in/dev-philipe', class: 'footer-medias footer-media-linkedin', target: '_blank' do %>
          <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 448 512">
            <path d="M416 32H31.9C14.3 32 0 46.5 0 64.3v383.4C0 465.5 14.3 480 31.9 480H416c17.6 0 32-14.5 32-32.3V64.3c0-17.8-14.4-32.3-32-32.3zM135.4 416H69V202.2h66.5V416zm-33.2-243c-21.3 0-38.5-17.3-38.5-38.5S80.9 96 102.2 96c21.2 0 38.5 17.3 38.5 38.5 0 21.3-17.2 38.5-38.5 38.5zm282.1 243h-66.4V312c0-24.8-.5-56.7-34.5-56.7-34.6 0-39.9 27-39.9 54.9V416h-66.4V202.2h63.7v29.2h.9c8.9-16.8 30.6-34.5 62.9-34.5 67.2 0 79.7 44.3 79.7 101.9V416z"/>
          </svg>
        <% end %>
        <%= link_to 'https://discord.gg/cuBzFtYh', class: 'footer-medias footer-media-discord', target: '_blank' do %>
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
            <path d="M6.32812 2.45312L5.9375 2.5C5.9375 2.5 4.18555 2.69141 2.90625 3.71875H2.89062L2.875 3.73438C2.58789 3.99805 2.46289 4.32227 2.26562 4.79688C2.06836 5.27148 1.85742 5.87695 1.67188 6.54688C1.30078 7.88867 1 9.51367 1 11V11.125L1.0625 11.25C1.52539 12.0625 2.34766 12.5801 3.10938 12.9375C3.87109 13.2949 4.5293 13.4844 4.98438 13.5L5.28125 13.5156L5.4375 13.25L5.98438 12.2812C6.56445 12.4121 7.23242 12.5 8 12.5C8.76758 12.5 9.43555 12.4121 10.0156 12.2812L10.5625 13.25L10.7188 13.5156L11.0156 13.5C11.4707 13.4844 12.1289 13.2949 12.8906 12.9375C13.6523 12.5801 14.4746 12.0625 14.9375 11.25L15 11.125V11C15 9.51367 14.6992 7.88867 14.3281 6.54688C14.1426 5.87695 13.9316 5.27148 13.7344 4.79688C13.5371 4.32227 13.4121 3.99805 13.125 3.73438L13.1094 3.71875H13.0938C11.8145 2.69141 10.0625 2.5 10.0625 2.5L9.67188 2.45312L9.53125 2.8125C9.53125 2.8125 9.38672 3.17773 9.29688 3.59375C8.73047 3.51758 8.26758 3.5 8 3.5C7.73242 3.5 7.26953 3.51758 6.70312 3.59375C6.61328 3.17773 6.46875 2.8125 6.46875 2.8125L6.32812 2.45312ZM5.64062 3.59375C5.66211 3.66406 5.68359 3.72461 5.70312 3.78125C5.05664 3.94141 4.36719 4.18555 3.73438 4.57812L4.26562 5.42188C5.5625 4.61719 7.42578 4.5 8 4.5C8.57422 4.5 10.4375 4.61719 11.7344 5.42188L12.2656 4.57812C11.6328 4.18555 10.9434 3.94141 10.2969 3.78125C10.3164 3.72461 10.3379 3.66406 10.3594 3.59375C10.8262 3.6875 11.7168 3.90234 12.4531 4.48438C12.4492 4.48633 12.6406 4.77539 12.8125 5.1875C12.9883 5.61133 13.1836 6.17578 13.3594 6.8125C13.6973 8.0332 13.9629 9.51953 13.9844 10.8281C13.6699 11.3086 13.0859 11.7422 12.4688 12.0312C11.9297 12.2832 11.5039 12.375 11.25 12.4219L11 12C11.1484 11.9453 11.2949 11.8848 11.4219 11.8281C12.1914 11.4902 12.6094 11.125 12.6094 11.125L11.9531 10.375C11.9531 10.375 11.6719 10.6328 11.0156 10.9219C10.3594 11.2109 9.35742 11.5 8 11.5C6.64258 11.5 5.64062 11.2109 4.98438 10.9219C4.32812 10.6328 4.04688 10.375 4.04688 10.375L3.39062 11.125C3.39062 11.125 3.80859 11.4902 4.57812 11.8281C4.70508 11.8848 4.85156 11.9453 5 12L4.75 12.4219C4.49609 12.375 4.07031 12.2832 3.53125 12.0312C2.91406 11.7422 2.33008 11.3086 2.01562 10.8281C2.03711 9.51953 2.30273 8.0332 2.64062 6.8125C2.81641 6.17578 3.01172 5.61133 3.1875 5.1875C3.35938 4.77539 3.55078 4.48633 3.54688 4.48438C4.2832 3.90234 5.17383 3.6875 5.64062 3.59375ZM6.25 7C5.86328 7 5.52148 7.2207 5.3125 7.5C5.10352 7.7793 5 8.12305 5 8.5C5 8.87695 5.10352 9.2207 5.3125 9.5C5.52148 9.7793 5.86328 10 6.25 10C6.63672 10 6.97852 9.7793 7.1875 9.5C7.39648 9.2207 7.5 8.87695 7.5 8.5C7.5 8.12305 7.39648 7.7793 7.1875 7.5C6.97852 7.2207 6.63672 7 6.25 7ZM9.75 7C9.36328 7 9.02148 7.2207 8.8125 7.5C8.60352 7.7793 8.5 8.12305 8.5 8.5C8.5 8.87695 8.60352 9.2207 8.8125 9.5C9.02148 9.7793 9.36328 10 9.75 10C10.1367 10 10.4785 9.7793 10.6875 9.5C10.8965 9.2207 11 8.87695 11 8.5C11 8.12305 10.8965 7.7793 10.6875 7.5C10.4785 7.2207 10.1367 7 9.75 7ZM6.25 8C6.27734 8 6.3125 8.00977 6.375 8.09375C6.4375 8.17773 6.5 8.32422 6.5 8.5C6.5 8.67578 6.4375 8.82227 6.375 8.90625C6.3125 8.99023 6.27734 9 6.25 9C6.22266 9 6.1875 8.99023 6.125 8.90625C6.0625 8.82227 6 8.67578 6 8.5C6 8.32422 6.0625 8.17773 6.125 8.09375C6.1875 8.00977 6.22266 8 6.25 8ZM9.75 8C9.77734 8 9.8125 8.00977 9.875 8.09375C9.9375 8.17773 10 8.32422 10 8.5C10 8.67578 9.9375 8.82227 9.875 8.90625C9.8125 8.99023 9.77734 9 9.75 9C9.72266 9 9.6875 8.99023 9.625 8.90625C9.5625 8.82227 9.5 8.67578 9.5 8.5C9.5 8.32422 9.5625 8.17773 9.625 8.09375C9.6875 8.00977 9.72266 8 9.75 8Z" fill="#131619"/>
          </svg>
        <% end %>
        <%= link_to 'https://github.com/PhilipeeX', class: 'footer-medias footer-media-github', target: '_blank' do %>
          <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 496 512">
            <path d="M165.9 397.4c0 2-2.3 3.6-5.2 3.6-3.3.3-5.6-1.3-5.6-3.6 0-2 2.3-3.6 5.2-3.6 3-.3 5.6 1.3 5.6 3.6zm-31.1-4.5c-.7 2 1.3 4.3 4.3 4.9 2.6 1 5.6 0 6.2-2s-1.3-4.3-4.3-5.2c-2.6-.7-5.5.3-6.2 2.3zm44.2-1.7c-2.9.7-4.9 2.6-4.6 4.9.3 2 2.9 3.3 5.9 2.6 2.9-.7 4.9-2.6 4.6-4.6-.3-1.9-3-3.2-5.9-2.9zM244.8 8C106.1 8 0 113.3 0 252c0 110.9 69.8 205.8 169.5 239.2 12.8 2.3 17.3-5.6 17.3-12.1 0-6.2-.3-40.4-.3-61.4 0 0-70 15-84.7-29.8 0 0-11.4-29.1-27.8-36.6 0 0-22.9-15.7 1.6-15.4 0 0 24.9 2 38.6 25.8 21.9 38.6 58.6 27.5 72.9 20.9 2.3-16 8.8-27.1 16-33.7-55.9-6.2-112.3-14.3-112.3-110.5 0-27.5 7.6-41.3 23.6-58.9-2.6-6.5-11.1-33.3 2.6-67.9 20.9-6.5 69 27 69 27 20-5.6 41.5-8.5 62.8-8.5s42.8 2.9 62.8 8.5c0 0 48.1-33.6 69-27 13.7 34.7 5.2 61.4 2.6 67.9 16 17.7 25.8 31.5 25.8 58.9 0 96.5-58.9 104.2-114.8 110.5 9.2 7.9 17 22.9 17 46.4 0 33.7-.3 75.4-.3 83.6 0 6.5 4.6 14.4 17.3 12.1C428.2 457.8 496 362.9 496 252 496 113.3 383.5 8 244.8 8zM97.2 352.9c-1.3 1-1 3.3.7 5.2 1.6 1.6 3.9 2.3 5.2 1 1.3-1 1-3.3-.7-5.2-1.6-1.6-3.9-2.3-5.2-1zm-10.8-8.1c-.7 1.3.3 2.9 2.3 3.9 1.6 1 3.6.7 4.3-.7.7-1.3-.3-2.9-2.3-3.9-2-.6-3.6-.3-4.3.7zm32.4 35.6c-1.6 1.3-1 4.3 1.3 6.2 2.3 2.3 5.2 2.6 6.5 1 1.3-1.3.7-4.3-1.3-6.2-2.2-2.3-5.2-2.6-6.5-1zm-11.4-14.7c-1.6 1-1.6 3.6 0 5.9 1.6 2.3 4.3 3.3 5.6 2.3 1.6-1.3 1.6-3.9 0-6.2-1.4-2.3-4-3.3-5.6-2z"/>
          </svg>
        <% end %>
      </div>
      <div class="footer-info">
        <p>© 2023 Philipe. All rights reserved.</p>
        <div class="footer-info-policy">
          <p>Privacy Policy</p>
          <p>Terms & Conditions</p>
        </div>
      </div>
      <div class="footer-design">
        <p>Design By: </p>
        <p>JohannLeon</p>
      </div>
    </div>
  </section>
</section>
